{% trans_default_domain 'wlt_meeting' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('work_linked_training_meeting_new', {'academicYear': academic_year.id }) }}{% endblock %}

{% block new_action %}{% if allow_new %}{{ parent() }}{% endif %}{% endblock %}

{% block table_header %}
    <th><label><input type="checkbox" id="select"> {{ 'header.datetime'|trans }}</label></th>
    <th>{{ 'header.created_by'|trans }}</th>
    <th>{{ 'header.project'|trans }}</th>
    <th>{{ 'header.student_enrollments'|trans }}</th>
    <th>{{ 'header.teachers'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('work_linked_training_meeting_edit', {'id': item.id}) %}
                {% set read_only = not is_granted('WLT_MEETING_MANAGE', item) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ item.id }}"{% if not read_only %} class="selectable"{% else %} disabled="disabled"{% endif %}> <a href="{{ url }}">{{ item.datetime|date('format.datetime'|trans({}, 'general')) }}</a></label>
                    </td>
                    <td>
                        {{ item.createdBy }}
                    </td>
                    <td>
                        {{ item.project }}
                    </td>
                    <td>
                        {{ item.studentEnrollments|join(', ') }}
                    </td>
                    <td>
                        {{ item.teachers|join(', ') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_filter %}
    {% include 'organization/partial_academic_year.html.twig' %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('work_linked_training_meeting_operation', {'academicYear': academic_year.id}) }}" method="post">
{% endblock %}

{% block pagerfanta %}
    {{ pagerfanta(pager, 'twitter_bootstrap4', {'prev_message': 'paginator.prev'|trans([], 'general'), 'next_message': 'paginator.next'|trans([], 'general'), 'css_disabled_class': 'd-none', 'routeParams': {'academicYear': academic_year.id }}) }}
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
