{% trans_default_domain 'edu_survey' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    <form method="post">
        {% for item in items%}
            <input type="hidden" name="items[]" value="{{ item.id }}">
        {% endfor %}
        <input type="hidden" name="confirm" value="ok">
        <input type="hidden" name="purge" value="ok">
        <div class="alert alert-warning">{{ 'prompt.purge_confirm'|trans|nl2br }}</div>
        <div id="table" class="col-md-12 table-responsive">
            <table id="list" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class="w-60">{{ 'header.title'|trans }}</label></th>
                        <th class="w-40">{{ 'header.answer_count'|trans }}</label></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.title }}</td>
                            <td>{{ item.answers|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('submit', 'eraser', 'btn-danger', 'form.prune_confirm'|trans) }}
    </form>
{% endblock %}
