{% trans_default_domain "security" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'security/login_base.html.twig' %}

{% block title %}{{ 'form.login.organization.title'|trans }}{% endblock %}

{% block login_title %}{{ 'form.login.organization.title'|trans }}{% endblock %}

{% block login_content %}
    {% if count %}
    <form method="post" action="{{ path('login_organization') }}" role="form">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_errors(form.organization) }}
            {{ form_widget(form.organization) }}
        </div>
        <div class="form-group">
            <button type="submit" name="login" class="btn btn-info btn-block" tabindex="5">{{ 'form.login.organization.submit'|trans }}</button>
        </div>
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <a href="{{ path('frontpage', {'id': app.user.id, '_switch_user': '_exit'}) }}" class="btn btn-primary btn-block"><i class="fas fa-arrow-left"></i> {{ 'form.user.impersonate.exit'|trans }}</a>
        {% endif %}
        {{ form_end(form) }}
        <div class="extra-action">
            <a href="{{ path('logout') }}">{{ 'form.login.organization.back'|trans }}</a>
        </div>
    </form>
    {% else %}
        <div class="alert alert-warning">{{ 'form.login.error.no_membership'|trans }}</div>
    {% endif %}
{% endblock %}
