{% trans_default_domain "security" %}
{% extends 'security/login_base.html.twig' %}

{% block title 'form.change_email.email.subject'|trans %}

{% block login_title %}{{ 'form.change_email.email.subject'|trans }}{% endblock %}

{% block login_action %}{% endblock %}

{% block login_content %}
    <form method="post">
        <div class="alert alert-warning">
            {{ 'form.change_email.email.warning'|trans({'name': user.firstName}) }}
            <b>{{ user.tokenType }}</b>
            {{ 'form.change_email.email.warning2'|trans({'name': user.firstName}) }}
        </div>
        <div class="form-group">
            <button type="submit" name="login" class="btn btn-info btn-block" tabindex="5">{{ 'form.change_email.email.submit'|trans }}</button>
            <div class="extra-action"><a href="{{ path('login') }}" tabindex="3">{{ 'form.reset.back'|trans }}</a></div>
        </div>
    </form>
{% endblock %}
