{% trans_default_domain 'calendar' %}
{% for num, month in calendar %}
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
            <tr>
                {% set year = num//12 %}
                <th colspan="6" class="calendar-month"><a data-toggle="collapse" data-target=".month_{{ num }}" role="button" aria-expanded="false" aria-controls="collapse">{{ ('month'~(num % 12))|trans({}, 'calendar') }} {{ year }} <i class="fas fa-plus"></i></a></th>
            </tr>
            <tr class="month_{{ num }} collapse show">
                <th class="w-16">{{ 'dow0'|trans({}, 'calendar') }}</th>
                <th class="w-16">{{ 'dow1'|trans({}, 'calendar') }}</th>
                <th class="w-16">{{ 'dow2'|trans({}, 'calendar') }}</th>
                <th class="w-16">{{ 'dow3'|trans({}, 'calendar') }}</th>
                <th class="w-16">{{ 'dow4'|trans({}, 'calendar') }}</th>
                <th class="w-20"></th>
            </tr>
            </thead>
            <tbody class="month_{{ num }} collapse show">
            {% for n, week in month %}
                <tr>
                    {% for day in week.days[0:5] %}
                        {% block day %}
                        <td {% if day %}class="bg-info"{% endif %}>
                            {% if day %}
                                <b>{{ day.date|date('d') }}</b> <br/>
                                {{ 'caption.hours'|transchoice(day.hours) }}
                            {% endif %}
                        </td>
                        {% endblock %}
                    {% endfor %}
                    {% set fill = 5 - (min((week.days)|length, 5)) %}
                    {% if fill %}
                        {% for i in 1..fill %}
                            <td></td>
                        {% endfor %}
                    {% endif %}
                    <td class="text-center">
                        {% block actions %}
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-warning">{{ 'prompt.empty'|trans({}, 'calendar')|nl2br }}</div>
{% endfor %}
