{% trans_default_domain 'calendar' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    <form action="{{ path('work_linked_training_agreement_calendar_delete', {'id': agreement.id}) }}" class="list" method="post">
    {% embed 'wlt/agreement/calendar_partial.html.twig' %}
        {% block day %}
            <td {% if day %}class="bg-info"{% endif %}>
                {% if day %}
                    {% set url = path('work_linked_training_agreement_calendar_form', {'id': day.id}) %}
                    <label><input type="checkbox" name="items[]" value="{{ day.id }}" class="selectable"> <a href="{{ url }}"><b>{{ day.date|date('d') }}</b></a></label><br/>
                    {{ 'caption.hours'|transchoice(day.hours, {}, 'calendar') }}
                {% endif %}
            </td>
        {% endblock %}
    {% endembed %}

    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.link_button(path('work_linked_training_agreement_calendar_add', {'id': agreement.id}), 'calendar-plus', 'btn-success', 'form.add'|trans) }}
        {{ m.link_button('', 'check-square', 'btn-primary', 'form.select_deselect'|trans, 'toggle') }}
    {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/list.js') }}"></script>
{% endblock %}