{% trans_default_domain 'wlt_agreement' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('work_linked_training_agreement_new', {'project': project.id}) }}{% endblock %}

{% block table_header %}
    <th><label><input type="checkbox" id="select"> {{ 'header.student_enrollment'|trans }}</label></th>
    <th>{{ 'header.workcenter'|trans }}</th>
    <th>{{ 'header.work_tutor'|trans }}</th>
    <th>{{ 'header.educational_tutor'|trans }}</th>
    <th>{{ 'header.dates'|trans }}</th>
    <th></th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('work_linked_training_agreement_edit', {'id': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ item.id }}"{% if is_granted('WLT_AGREEMENT_MANAGE', item) %} class="selectable"{% else %} disabled="disabled"{% endif %}> <a href="{{ url }}">{{ item.studentEnrollment }}</a></label>
                    </td>
                    <td>
                        {{ item.workcenter }}
                    </td>
                    <td>
                        {{ item.workTutor.fullDisplayName }}
                    </td>
                    <td>
                        {{ item.educationalTutor.person.fullDisplayName }}
                    </td>
                    <td>{{ item.startDate ? item.startDate|date('format.date'|trans({}, 'general')) }}
                        {% if item.endDate %} - {{ item.endDate|date('format.date'|trans({}, 'general')) }}{% endif %}
                    <td>
                        {{ m.link_button(path('work_linked_training_agreement_calendar_list', {'id': item.id}), 'calendar-alt', 'btn-info btn-sm btn-block', 'table.calendar'|trans) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('work_linked_training_agreement_operation', project ? {'project': project.id} : {}) }}" method="post">
{% endblock %}

{% block pagerfanta %}
    {{ pagerfanta(pager, 'twitter_bootstrap4_translated', {'css_disabled_class': 'hidden', 'routeParams': {'id': project.id}}) }}
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
        {{ m.submit_button('copy', 'copy', 'btn-primary enable-on-items', 'form.calendar_copy'|trans) }}
    </form>
{% endblock %}
