{% trans_default_domain 'ict_element' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('ict_element_form_new') }}{% endblock %}

{% block table_header %}
    <th class="w-60"><label><input type="checkbox" id="select"> {{ 'header.name'|trans }}</label></th>
    <th class="w-10">{{ 'header.reference'|trans }}</th>
    <th class="w-20">{{ 'header.location'|trans }}</th>
    <th class="w-10">{{ 'header.serial_number'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('ict_element_form_edit', {'id': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ item.id }}" class="selectable"> <a href="{{ url }}">{{ item }}</a></label>
                    </td>
                    <td>
                        <a href="{{ url }}">{{ item.reference }}</a>
                    </td>
                    <td>
                        <a href="{{ url }}">{{ item.location }}</a>
                    </td>
                    <td>
                        <a href="{{ url }}">
                            {{ item.serialNumber }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('ict_element_operation') }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
