{% trans_default_domain 'ict_element' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('ict_element_form_new') }}{% endblock %}

{% block table_header %}
    <th class="w-70"><label><input type="checkbox" id="select"> {{ 'header.name'|trans }}</label></th>
    <th class="w-10">{{ 'header.reference'|trans }}</th>
    <th class="w-20">{{ 'header.location'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('ict_element_form_edit', {'id': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ item.id }}" class="selectable"> <a href="{{ url }}">{{ item.name }}{% if item.description %} - {{ item.description }}{% endif %}</a></label>
                        {% if item.beingRepairedSince %}<i class="text-danger fas fa-toolbox"></i>{% elseif item.unavailableSince %}<i class="text-danger fas fa-times"></i>{% elseif item.taintedSince %}<i class="text-warning fas fa-exclamation-triangle"></i>{% endif %}
                    </td>
                    <td>
                        <a href="{{ url }}">{{ item.reference }}</a>
                    </td>
                    <td>
                        {% if item.location %}<a href="{{ path('ict_location_form_edit', {'id': item.location.id}) }}">{{ item.location }}</a>{% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block more_actions %}
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="filter" value="0" autocomplete="off" {% if f == 0 %}checked{% endif %}> {{ 'form.filter.show_all'|trans }}
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="filter" value="1" autocomplete="off" {% if f == 1 %}checked{% endif %}> {{ 'form.filter.tainted'|trans }}
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="filter" value="2" autocomplete="off" {% if f == 2 %}checked{% endif %}> {{ 'form.filter.unavailable'|trans }}
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="filter" value="3" autocomplete="off" {% if f == 3 %}checked{% endif %}> {{ 'form.filter.being_repaired'|trans }}
        </label>
    </div>
{% endblock %}

{% block before_table %}
    <form action="{{ path('ict_element_operation') }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
