{% trans_default_domain 'edu_group' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ m.start_button() }}
        {{ m.submit_button('submit', 'check', 'btn-success', 'form.save'|trans) }}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.end_button() }}
    {{ form_end(form) }}
    <h1>{{ 'title.students'|trans }}</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>{{ 'header.student'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for student in group.students %}
                    <tr>
                        <td>{{ student.lastName }}, {{ student.firstName }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h1>{{ 'title.teachers'|trans }}</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>{{ 'header.subject'|trans }}</th>
                    <th>{{ 'header.teachers'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for teaching in group.teachings %}
                    <tr>
                        <td>{{ teaching.subject.name }} {% if teaching.subject.code %} - {{ teaching.subject.code }}{% endif %}</td>
                        <td>{{ teaching.teacher.person }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
