{% trans_default_domain 'wlt_meeting' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('work_linked_training_meeting_new') }}{% endblock %}

{% block new_action %}{% if not read_only %}{{ parent() }}{% endif %}{% endblock %}

{% block table_header %}
    <th>{% if not read_only %}<label><input type="checkbox" id="select"> {% endif %}{{ 'header.datetime'|trans }}{% if not read_only %}</label>{% endif %}</th>
    <th>{{ 'header.created_by'|trans }}</th>
    <th>{{ 'header.student_enrollments'|trans }}</th>
    <th>{{ 'header.teachers'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('work_linked_training_meeting_edit', {'id': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        {% if not read_only %}<label><input type="checkbox" name="items[]" value="{{ item.id }}"{% if teacher and item.createdBy != teacher %} disabled="disabled"{% else %}class="selectable"{% endif %}> {% endif %}<a href="{{ url }}">{{ item.dateTime|date('format.datetime'|trans({}, 'general')) }}</a>{% if not read_only %}</label>{% endif %}
                    </td>
                    <td>
                        {{ item.createdBy }}
                    </td>
                    <td>
                        {{ item.studentEnrollments|join(', ') }}
                    </td>
                    <td>
                        {{ item.teachers|join(', ') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('work_linked_training_meeting_operation') }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {% if not read_only %}{{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}{% endif %}
    </form>
{% endblock %}
