{% trans_default_domain 'edu_competency' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('training_competency_new', {'id': training.id}) }}{% endblock %}

{% block table_header %}
    <th><label><input type="checkbox" id="select"> {{ 'header.code'|trans }}</label></th>
    <th>{{ 'header.description'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for competency in pager %}
                {% set url = path('training_competency_edit', {'id': competency.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ competency.id }}" class="selectable"> <a href="{{ url }}">{{ competency.code }}</a></label>
                    </td>
                    <td>
                        {{ competency.description|nl2br }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('training_competency_delete', {'id': training.id}) }}" method="post">
{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
</form>
{% endblock %}
