{% trans_default_domain 'edu_training' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}{% endblock %}

{% block table_header %}
    <th>{{ 'header.name'|trans }}</th>
    <th>{{ 'header.department'|trans }}</th>
    <th></th>
{% endblock %}

{% block table_body %}
            {% for training in pager %}
                <tr>
                    <td>
                        {{ training.name }}{% if training.workLinked %} <span class="badge badge-success">{{ 'header.work_linked_training'|trans }}</span>{% endif %}
                    </td>
                    <td>
                        {{ training.department|default('') }}
                    </td>
                    <td class="text-center">
                        {{ m.link_button(path('training_subject_list', {'id': training.id}), 'book-open', 'btn-primary btn-sm w-40', 'table.subjects'|trans, null, 'd-md-none d-lg-inline') }}
                        {{ m.link_button('', 'award', 'btn-primary btn-sm w-40', 'table.competences'|trans, null, 'd-md-none d-lg-inline') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}
