{% trans_default_domain 'itp_training_program' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% form_theme form_program_grades _self %}

{% block content %}
    <h2>{{ training_program.training }}</h2>
    {{ form_start(form_program_grades) }}
    <div class="text_widget card card-body bg-light mb-4">
        {{ form_row(form_program_grades.programGrades) }}
        {{ m.start_button() }}
        {{ m.submit_button('submit', 'check', 'btn-success', 'form.save'|trans) }}
        {{ m.end_button() }}
    </div>
    {{ form_end(form_program_grades) }}
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}

{% block _program_grades_programGrades_row %}
    <h2>{{ 'form.program_grades'|trans }}</h2>
    {% set sum = 0 %}
    <div class="text_widget mb-4">
        <div {{ block('widget_container_attributes') }}>
            {% for element in form.children %}
                {{ form_widget(element, {translation_domain: false}) }}
                {% set sum = sum + element.vars.value.targetHours %}
            {% endfor %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{ 'form.total_hours'|trans }}</label>
                <div class="col-sm-10">
                    <div class="col-form-label-lg">
                        {{ sum / 100 }}
                        {# if training_program.targetHours %}
                            / {{ training_program.targetHours / 100 }}
                        {% endif #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
