{% trans_default_domain 'wlt_agreement_activity_realization' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}
    <div class="form-group col-sm-7">
        <a href="{{ path('work_linked_training_activity_realization_grade_list') }}" class="btn btn-primary"><i class="fa fa-list-ol"></i> {{ 'form.grades'|trans }}</a>
    </div>
{% endblock %}

{% block table_header %}
    <th>{{ 'header.student_enrollment'|trans }}</th>
    <th>{{ 'header.workcenter'|trans }}</th>
    <th>{{ 'header.start_date'|trans }}</th>
    <th>{{ 'header.end_date'|trans }}</th>
    <th>{{ 'header.status'|trans }}</th>
{% endblock %}

{% block table_body %}
    {% for item in pager %}
        {% set stats = item.totalHours %}
        {% set url = path('work_linked_training_evaluation_form', {'id': item.id}) %}
        <tr class="clickable-row" data-href="{{ url }}">
            <td>
                <a href="{{ url }}">{{ item.studentEnrollment }}</a>
            </td>
            <td>
                {{ item.workcenter }}
            </td>
            <td>{{ item.startDate ? item.startDate|date('format.date'|trans({}, 'general')) }}</td>
            <td>{{ item.endDate ? item.endDate|date('format.date'|trans({}, 'general')) }}</td>
            <td>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">{{ 'table.no_items'|trans }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}
