{% trans_default_domain 'wlt_agreement_activity_realization' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}
    {% if is_granted('ORGANIZATION_MANAGE_WORKLINKED_TRAINING', academic_year.organization) %}<div class="form-group col-sm-7">
        <a href="{{ path('work_linked_training_activity_realization_grade_list') }}" class="btn btn-primary"><i class="fa fa-list-ol"></i> {{ 'form.grades'|trans }}</a>
    </div>
    {% endif %}
{% endblock %}

{% block table_header %}
    <th>{{ 'header.student_enrollment'|trans }}</th>
    <th>{{ 'header.workcenter'|trans }}</th>
    <th>{{ 'header.work_tutor'|trans }}</th>
    <th>{{ 'header.dates'|trans }}</th>
    <th>{{ 'header.status'|trans }}</th>
{% endblock %}

{% block table_body %}
    {% for item in pager %}
        {% set url = path('work_linked_training_evaluation_form', {'id': item[0].id}) %}
        <tr class="clickable-row" data-href="{{ url }}">
            <td>
                <a href="{{ url }}">{{ item[0].studentEnrollment }}</a>
            </td>
            <td>{{ item[0].workcenter }}</td>
            <td>{{ item[0].workTutor }}</td>
            <td>{{ item[0].startDate ? item[0].startDate|date('format.date'|trans({}, 'general')) }}{{ item[0].endDate ? ' - ' ~ (item[0].endDate|date('format.date'|trans({}, 'general'))) }}</td>
            <td>
                {% if item[1] %}
                    {{ item[2] }}/{{ item[1] }} ({{ (item[2]*100/item[1]) | number_format(2, 'format.decimal_separator'|trans({}, 'general')) }} %)
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">{{ 'table.no_items'|trans }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block before_filter %}
    {% include 'organization/partial_academic_year.html.twig' %}
{% endblock %}

{% block pagerfanta %}
    {{ pagerfanta(pager, 'twitter_bootstrap4_translated', {'css_disabled_class': 'hidden', 'routeParams': {'academicYear': academic_year.id }}) }}
{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}
