{% trans_default_domain 'wpt_shift' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}{% endblock %}

{% block table_header %}
    <th>{{ 'header.name'|trans }}</th>
    <th>{{ 'header.grade'|trans }}</th>
    <th>{{ 'header.agreements'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path(route_name, {'shift': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}" data-target="_blank">
                    <td>
                        <a href="{{ url }}" {% if new_window|default(true) %}target="_blank"{% endif %}>{{ item.name }}</a>
                    </td>
                    <td>
                        {{ item.subject.grade }}
                    </td>
                    <td>
                        {{ item.agreements | length }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_filter %}
    {% include 'organization/partial_academic_year.html.twig' %}
{% endblock %}

{% block pagerfanta %}
    {{ pagerfanta(pager, 'twitter_bootstrap4', {'prev_message': 'paginator.prev'|trans([], 'general'), 'next_message': 'paginator.next'|trans([], 'general'), 'routeParams': {'academicYear': academic_year.id }}) }}
{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}
