{% trans_default_domain 'wpt_report' %}

{% if stats[0] %}
    <pagebreak></pagebreak>

    <h1>{{ app_name }} - {{ organization }} - {{ grade }} - {{ shift }}</h1>
    <h2>{{ 'title.company_survey'|trans }}</h2>

    <table class="survey">
        <thead>
        <tr>
            <th width="68%">{{ 'header.question'|trans }}</th>
            <th width="8%">{{ 'header.count'|trans }}</th>
            <th width="8%">{{ 'header.min'|trans }}</th>
            <th width="8%">{{ 'header.max'|trans }}</th>
            <th width="8%">{{ 'header.average'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for answer in stats[0] %}
            {% if answer[0].type starts with "range"  %}
                <tr>
                    <td class="right">{{ answer[0].description|raw }}</td>
                    <td class="center">{{ answer[1]|default('report.no_data'|trans) }}</td>
                    <td class="center">{{ answer[3] ? answer[3]|number_format(2, 'format.decimal_separator'|trans({}, 'general')) : 'report.no_data'|trans }}</td>
                    <td class="center">{{ answer[4] ? answer[4]|number_format(2, 'format.decimal_separator'|trans({}, 'general')) : 'report.no_data'|trans }}</td>
                    <td class="center">{{ answer[2] ? answer[2]|number_format(2, 'format.decimal_separator'|trans({}, 'general')) : 'report.no_data'|trans }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% if stats[1] %}
        <table class="survey">
            <thead>
            <tr>
                <th width="40%">{{ 'header.question'|trans }}</th>
                <th width="60%">{{ 'header.answer'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in stats[1] %}
                <tr>
                    <td class="right">{{ answer.surveyQuestion.description|raw }}</td>
                    <td>{{ answer.textValue }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}