{% trans_default_domain 'wpt_report' %}

{% macro row(data, additional) %}
    {% for datum in data %}
        <tr>
            {% if loop.first %}
                <td rowspan="{{ data|length }}">
                    {{ datum.workTutor }}
                </td>
            {% endif %}
            <td>
                {{ datum.studentEnrollment }}
            </td>
            {% if loop.first %}
                <td rowspan="{{ data|length }}" class="center">
                    {{ (additional ? 'report.status.answered' : 'report.status.unanswered')|trans }}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
{% endmacro %}

<html>
<head>
    <title>{{ 'title.company_survey'|trans }} - {{ organization }} - {{ grade }} - {{ shift }}</title>
    <style>
        body {
            font-family: sans-serif;
        }

        table {
            font-family: dejavusanscondensed, sans-serif;
            border-style: solid;
            border-width: 1px;
            border-collapse: collapse;
        }

        table td {
            border-style: solid;
            border-width: 1px;
        }

        table th {
            border-style: solid;
            border-width: 1px;
        }

        table.data {
            width: 100%;
        }

        table.data td {
            padding: 0.3em;
        }

        table.data td.info {
            font-family: dejavusanscondensed, sans-serif;
            font-weight: bold;
            text-align: right;
        }

        table.survey {
            margin-top: 1em;
            width: 100%;
        }

        table.survey td {
            padding: 0.3em;
        }

        table.survey th {
            background-color: #cccccc;
            padding: 0.3em;
        }

        table.survey {
            font-size: 80%;
        }

        table.survey tfoot th {
            font-size: 120%;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }
    </style>
</head>
<body>
    <h1>{{ app_name }} - {{ organization }} - {{ grade }} - {{ shift }}</h1>
    <h2>{{ 'title.company_survey'|trans }}</h2>
    <h3>{{ 'title.company_survey.summary'|trans }}</h3>
    <table class="survey">
        <thead>
        <tr>
            <th width="40%">{{ 'header.work_tutor'|trans }}</th>
            <th width="40%">{{ 'header.student'|trans }}</th>
            <th width="20%">{{ 'header.status'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% set answered = 0 %}
        {% set last_id = 0 %}
        {% set data = [] %}
        {% set additional = 0 %}
        {% for item in work_tutor_stats %}
            {% if last_id != item[0].workTutor.id ~ '-' ~ item[0].agreement.shift.id %}
                {% if last_id != 0 %}{{ _self.row(data, additional) }}{% endif %}
                {% set last_id = item[0].workTutor.id ~ '-' ~ item[0].agreement.shift.id %}
                {% set data = [item[0]] %}
                {% set answered = answered + additional ? 1 : 0 %}
                {% set additional = item[1] %}
                {% set total = total + 1 %}
            {% else %}
                {% set data = data|merge([item[0]]) %}
                {% set additional = additional + item[1] %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">{{ 'report.no_surveys'|trans }}</td>
            </tr>
        {% endfor %}
        {% if last_id != 0 %}
            {{ _self.row(data, additional) }}
            {% set answered = answered + additional ? 1 : 0 %}
        {% endif %}
        </tbody>
        {% if total %}
            <tfoot>
            <tr>
                <td class="right" colspan="4"><b>{{ 'report.answered_surveys'|trans }}  {{ answered }}/{{ total }} ({{ (answered*100/total)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</b></td>
            </tr>
            </tfoot>
        {% endif %}
    </table>

    {% include 'wpt/report/survey_stats_partial.html.twig' %}

    {% for work_tutor_survey in work_tutor_surveys %}
        <pagebreak></pagebreak>
        <h1>{{ app_name }} - {{ organization }} - {{ grade }} - {{ shift }}</h1>
        <h2>{{ 'title.company_survey'|trans }}</h2>
        <table class="data">
            <tr>
                <td class="info">{{ 'report.work_tutor'|trans }}</td>
                <td>{{ work_tutor_survey.workTutor }}</td>
            </tr>
            <tr>
                <td class="info">{{ 'report.answered_on'|trans }}</td>
                <td>{{ work_tutor_survey.answeredSurvey.timestamp|date('format.datetime'|trans({}, 'general')) }}</td>
            </tr>
        </table>

        {% set answered_survey = work_tutor_survey.answeredSurvey %}
        {% include 'wpt/report/answered_survey_responses_partial.html.twig' %}
    {% endfor %}
</body>
</html>
