{% trans_default_domain 'wlt_survey' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}{% endblock %}

{% block table_header %}
    <th>{{ 'header.student'|trans }}</th>
    <th>{{ 'header.project'|trans }}</th>
    <th>{{ 'header.workcenter'|trans }}</th>
    <th>{{ 'header.work_tutor'|trans }}</th>
    <th>{{ 'header.dates'|trans }}</th>
    <th>{{ 'header.status'|trans }}</th>
{% endblock %}

{% macro row(data, additional) %}
    {% set url = path('work_linked_training_survey_student_form', {'id': data[0].id}) %}
    {% for datum in data %}
    <tr>
        {% if loop.first %}
            <td rowspan="{{ data|length }}">
                <a href="{{ url }}">{{ datum.studentEnrollment }}</a>
            </td>
            <td rowspan="{{ data|length }}">
                {{ datum.project }}
                {% if datum.project.locked %} <i class="fa fa-lock"></i>{% endif %}
            </td>
        {% endif %}
        <td>
            {{ datum.workcenter }}
        </td>
        <td>
            {{ datum.workTutor }}
        </td>
        <td>
            {{ datum.startDate ? datum.startDate|date('format.date'|trans({}, 'general')) }}
            {% if datum.endDate %} - {{ datum.endDate|date('format.date'|trans({}, 'general')) }}{% endif %}
        </td>
        {% if loop.first %}
            <td rowspan="{{ data|length }}">
                {{ (additional ? 'table.answered.yes' : 'table.answered.no')|trans }}
            </td>
        {% endif %}
    </tr>
    {% endfor %}
{% endmacro %}

{% block table_body %}
    {% set last_id = 0 %}
    {% set data = [] %}
    {% set additional = 0 %}
    {% for item in pager %}
        {% if last_id != item[0].studentEnrollment.id ~ '-' ~ item[0].project.id %}
            {% if last_id != 0 %}{{ _self.row(data, additional) }}{% endif %}
            {% set last_id = item[0].studentEnrollment.id ~ '-' ~ item[0].project.id %}
            {% set data = [item[0]] %}
            {% set additional = item[1] %}
        {% else %}
            {% set data = data|merge([item[0]]) %}
            {% set additional = additional + item[1] %}
        {% endif %}
    {% else %}
        <tr>
            <td colspan="6">{{ 'table.no_items'|trans }}</td>
        </tr>
    {% endfor %}
    {% if last_id != 0 %}
        {{ _self.row(data, additional) }}
    {% endif %}
{% endblock %}

{% block before_filter %}
    {% include 'organization/partial_academic_year.html.twig' %}
{% endblock %}

{% block pagerfanta %}
    {{ pagerfanta(pager, 'twitter_bootstrap4_translated', {'css_disabled_class': 'hidden', 'routeParams': {'academicYear': academic_year.id }}) }}
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}
