{% trans_default_domain 'wlt_project' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('work_linked_training_project_new') }}{% endblock %}

{% block table_header %}
    <th><label><input type="checkbox" id="select"> {{ 'header.name'|trans }}</label></th>
    <th>{{ 'header.manager'|trans }}</th>
    <th>{{ 'header.student_count'|trans }}</th>
    <th colspan="4"></th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('work_linked_training_project_edit', {'id': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ item.id }}" class="selectable">
                            <a href="{{ url }}">{{ item.name }}</a>
                        </label>
                    </td>
                    <td>
                        {{ item.manager }}
                    </td>
                    <td>
                        {{ item.studentEnrollments.count() }}
                    </td>
                    <td>
                        {{ m.link_button(path('work_linked_training_project_activity_list', {'id': item.id}), 'book', 'btn-info btn-sm btn-block', 'table.learning_program'|trans) }}
                    </td>
                    <td>
                        {{ m.link_button(path('work_linked_training_learning_program_list', {'project': item.id}), 'industry', 'btn-info btn-sm btn-block', 'table.learning_program_companies'|trans) }}
                    </td>
                    <td>
                        {{ m.link_button(path('work_linked_training_project_student_enrollment', {'id': item.id}), 'users', 'btn-info btn-sm btn-block', 'table.student_enrollment'|trans) }}
                    </td>
                    <td>
                        {{ m.link_button(path('work_linked_training_agreement_list', {'id': item.id}), 'handshake', 'btn-info btn-sm btn-block', 'table.agreements'|trans) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('work_linked_training_project_operation') }}" method="post">
{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
{% endblock %}
