{% trans_default_domain 'itp_tracking' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}{% endblock %}

{% block table_header %}
    <th class="w-15">{{ 'header.student'|trans }}</th>
    <th class="w-20">{{ 'header.workcenter'|trans }}</th>
    <th class="w-10">{{ 'header.educational_tutor'|trans }}</th>
    <th class="w-10">{{ 'header.work_tutor'|trans }}</th>
    <th class="w-10">{{ 'header.date_range'|trans }}</th>
    <th class="w-10">{{ 'header.activities'|trans }}</th>
    <th class="w-10">{{ 'header.hours'|trans }}</th>
    <th class="w-15"></th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('in_company_training_phase_student_program_workcenter_edit', {'studentProgramWorkcenter': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <a href="{{ url }}">{{ item.studentProgram.studentEnrollment }}</a>
                    </td>
                    <td>
                        {{ item.workcenter }}
                    </td>
                    <td>
                        {{ item.educationalTutor }}
                    </td>
                    <td>
                        {{ item.workTutor }}
                    </td>
                    <td>
                        {% if item.startDate and item.endDate %}
                            {{ item.startDate|date('format.date'|trans({}, 'general')) }} - {{ item.endDate|date('format.date'|trans({}, 'general')) }}
                        {% endif %}
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ m.link_button(path('in_company_training_phase_training_program_edit', {'id': item.id}), 'chart-line', 'btn-info btn-sm btn-block', 'table.training_program_status'|trans) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_filter %}
    {% include 'organization/partial_academic_year.html.twig' %}
{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
</form>
{% endblock %}
