{% trans_default_domain 'wpt_agreement' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% macro draw_agreement(items, agreement) %}
    {% set url = path('workplace_training_agreement_edit', {'id': agreement.id}) %}
        <tr class="clickable-row" data-href="{{ url }}">
        <td rowspan="{{ items|length }}">
            <label><input type="checkbox" name="items[]" value="{{ agreement.id }}"{% if is_granted('WPT_AGREEMENT_MANAGE', agreement) %} class="selectable"{% else %} disabled="disabled"{% endif %}> <a href="{{ url }}">{{ agreement.workCenter }}</a></label>
        </td>
        <td rowspan="{{ items|length }}">
            {{ agreement.startDate ? agreement.startDate|date('format.date'|trans({}, 'general')) }}
            {% if agreement.endDate %} - {{ agreement.endDate|date('format.date'|trans({}, 'general')) }}{% endif %}
        </td>
        {% for agreementEnrollment in items %}
            {% set alt_url = path('workplace_training_agreement_enrollment_edit', {'id': agreementEnrollment.id}) %}
            {% if not loop.first %}
                </tr>
                <tr class="clickable-row" data-href="{{ alt_url }}">
            {% endif %}
            <td>
                <a href="{{ alt_url }}">{{ agreementEnrollment.studentEnrollment }}</a>
            </td>
            <td>
                <a href="{{ alt_url }}">{{ agreementEnrollment.educationalTutor }}</a>
            </td>
            <td>
                <a href="{{ alt_url }}">{{ agreementEnrollment.workTutor }}</a>
            </td>
            <td>
                {{ m.link_button_new(path('workplace_training_agreement_program_report', {'id': agreementEnrollment.id}), 'file-alt', 'btn-primary btn-sm btn-block', 'table.program_report'|trans) }}
            </td>
            {% if loop.first %}
                <td rowspan="{{ items|length }}">
                    {{ m.link_button(path('workplace_training_agreement_calendar_list', {'id': agreement.id}), 'calendar-alt', 'btn-info btn-sm btn-block h-100', 'table.calendar'|trans) }}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endmacro %}

{% block path_new %}{{ path('workplace_training_agreement_new', {'shift': shift.id}) }}{% endblock %}

{% block table_header %}
    <th><label><input type="checkbox" id="select"> {{ 'header.workcenter'|trans }}</label></th>
    <th>{{ 'header.dates'|trans }}</th>
    <th>{{ 'header.student_enrollments'|trans }}</th>
    <th>{{ 'header.educational_tutor'|trans }}</th>
    <th>{{ 'header.work_tutor'|trans }}</th>
    <th></th>
    <th></th>
{% endblock %}

{% block table_body %}
            {% set items = [] %}
            {% set last_agreement_id = 0 %}
            {% for item in pager %}
                {% if not loop.first and item.agreement.id != last_agreement_id %}
                    {{ _self.draw_agreement(items, items[0].agreement) }}
                    {% set items = [] %}
                {% endif %}
                {% set items = items|merge([item]) %}
                {% set last_agreement_id = item.agreement.id %}
            {% else %}
                <tr>
                    <td colspan="5">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
            {% if items is not empty %}
                {{ _self.draw_agreement(items, items[0].agreement) }}
            {% endif %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('workplace_training_agreement_operation', shift ? {'shift': shift.id} : {}) }}" method="post">
{% endblock %}

{% block pagerfanta %}
    {{ pagerfanta(pager, 'twitter_bootstrap4_translated', {'css_disabled_class': 'hidden', 'routeParams': {'id': shift.id}}) }}
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
        {{ m.submit_button('copy', 'copy', 'btn-primary enable-on-items', 'form.calendar_copy'|trans) }}
    </form>
{% endblock %}
