{% trans_default_domain 'edu_subject' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('organization_subject_new') }}{% endblock %}

{% block table_header %}
    <th class="w-30"><label><input type="checkbox" id="select"> {{ 'header.name'|trans }}</label></th>
    <th class="w-20">{{ 'header.grade'|trans }}</th>
    <th class="w-50">{{ 'header.teachers'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for subject in pager %}
                {% set url = path('organization_subject_edit', {'id': subject.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ subject.id }}" class="selectable"> <a href="{{ url }}">{{ subject.name }}{% if subject.workLinked %} <span class="badge badge-primary">{{ 'header.work_linked_training'|trans }}</span>{% endif %}{% if subject.workplaceTraining %} <span class="badge badge-primary">{{ 'header.workplace_training'|trans }}</span>{% endif %}</a></label>
                    </td>
                    <td>
                        {{ subject.grade }}
                    </td>
                    <td>
                        {% for teaching in subject.teachings %}{{ teaching.teacher }} ({{ teaching.group }}){% if not loop.last %}, {% endif %}{% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('organization_subject_delete', {'academicYear': academic_year.id}) }}" method="post">
{% endblock %}

{% block pagerfanta %}
    {{ pagerfanta(pager, 'twitter_bootstrap4_translated', {'css_disabled_class': 'hidden', 'routeParams': {'academicYear': academic_year.id }}) }}
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
