{% trans_default_domain 'layout' %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hidden-xs"> {{ 'user.logged.as'|trans({'%user%': app.user }) }}</span><span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ path('personal_data') }}"><i class="fa fa-cog"></i> {{ 'user.data'|trans }}</a></li>
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <li class="divider"></li>
            <li><a href="{{ path('admin_user_form_edit', {'id': app.user.id, '_switch_user': '_exit'}) }}"><i class="fa fa-user-secret"></i> {{ 'user.impersonate.exit'|trans }}</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="divider"></li>
            <li><a href="{{ path('admin') }}"><i class="fa fa-wrench"></i> {{ 'user.administrate'|trans }}</a></li>
            <li><a href="{{ path('login_organization') }}"><i class="fa fa-map-marker"></i> {{ 'user.organization'|trans }}</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="{{ path('logout') }}"><i class="fa fa-power-off"></i> {{ 'user.logout'|trans }}</a></li>
    </ul>
</li>
