{% trans_default_domain 'wlt_agreement_activity_realization' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    <h3>{{ agreement }} {{ agreement.startDate ? ' - ' ~ agreement.startDate|date('format.date'|trans({}, 'general')) }} {{ agreement.endDate ? ' - ' ~ agreement.endDate|date('format.date'|trans({}, 'general')) }}</h3>
    <h4>{{ agreement_activity_realization.activityRealization }}</h4>
    {{ form_start(form) }}
    {{ form_row(form.disabled) }}
    {% if agreement_activity_realization.comments.count() > 0 %}
    <div class="form-group row">
        <label class="col-form-label col-sm-2">{{ 'form.comments'|trans }}</label>
        <div class="col-sm-10">
            {% for comment in agreement_activity_realization.comments %}
                <div class="card">
                    <div class="card-body">{{ comment.comment|nl2br }}</div>
                    <div class="card-footer small">
                        <b>{{ comment.timestamp|date('format.datetime'|trans({}, 'general')) }} - {{ comment.person }}</b>
                        {% if is_granted('WLT_AGREEMENT_ACTIVITY_REALIZATION_COMMENT_DELETE', comment) %}
                            <a href="{{ path('work_linked_training_evaluation_comment_delete', {'id': comment.id}) }}"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {{ form_rest(form) }}
    {{ m.start_button() }}
    {% if not read_only %}{{ m.submit_button('submit', 'check', 'btn-success', 'form.save'|trans) }}{% endif %}
    {{ m.link_button(path('work_linked_training_evaluation_form', {'id': agreement.id }), 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.end_button() }}
    {{ form_end(form) }}
{% endblock %}
