{% trans_default_domain 'wlt_activity_realization_grade' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    <h3>{{ agreement }} {{ agreement.startDate ? ' - ' ~ agreement.startDate|date('format.date'|trans({}, 'general')) }} {{ agreement.endDate ? ' - ' ~ agreement.endDate|date('format.date'|trans({}, 'general')) }}</h3>
    {{ form_start(form) }}
    {{ form_label(form.evaluatedActivityRealizations) }}
    {{ form_errors(form.evaluatedActivityRealizations) }}
    {% set last_activity_id = 0 %}
    {% for activity_realization in form.evaluatedActivityRealizations %}
        {% set current_activity_id = activity_realization.vars.data.activityRealization.activity.id %}
        {% if current_activity_id != last_activity_id %}
            {% if not loop.first %}</tbody></table>{% endif %}
            {% set last_activity_id = current_activity_id %}
            <table class="table table-sm table-bordered table-striped table-hover agreement-grading">
                <thead>
                <tr>
                    <th colspan="2"><h5>{{ activity_realization.vars.data.activityRealization.activity }}</h5></th>
                </tr>
                </thead>
                <tbody>
        {% endif %}
        <tr>
            <td class="w-50">{{ activity_realization.vars.data.activityRealization }}
                {%- if activity_realization.vars.data.disabled %}
                    <i class="fa fa-lock" title="{{ 'form.disabled.hint'|trans }}"></i>
                {% endif -%}
                {%- if activity_realization.vars.data.comments.count() > 0 %}
                    {% set target_id = 'id' ~ activity_realization.vars.data.id %}
                    <a data-toggle="collapse" href="#{{ target_id }}" role="button" aria-expanded="false" aria-controls="{{ target_id }}" class="badge badge-pill badge-dark" title="{{ 'form.comments.hint'|trans }}">
                        <i class="fa fa-comments"></i> {{ activity_realization.vars.data.comments.count() }}
                    </a>
                {% endif -%}
                <a href="{{ path('work_linked_training_evaluation_comment_form', {'id': activity_realization.vars.data.id}) }}" target="_blank">
                    <i class="fa fa-pen" title="{{ 'form.edit.hint'|trans }}"></i>
                </a>
            </td>
            <td class="w-50">
                {{ form_errors(activity_realization) }}
                {{ form_widget(activity_realization) }}
                {% if activity_realization.vars.data.comments.count() > 0 %}
                    <div class="collapse" id="{{ target_id }}">
                        {% for comment in activity_realization.vars.data.comments %}
                            <div class="card">
                                <div class="card-body">{{ comment.comment|nl2br }}</div>
                                <div class="card-footer small"><b>{{ comment.timestamp|date('format.datetime'|trans({}, 'general')) }} - {{ comment.person }}</b></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% if last_activity_id != 0 %}</tbody></table>{% endif %}
    <h4>{{ 'form.remarks'|trans }}</h4>
    {{ form_widget(form.workTutorRemarks) }}
    <hr/>
    {% if not read_only %}{{ m.submit_button('submit', 'check', 'btn-success', 'form.save'|trans) }}{% endif %}
    {{ m.link_button(path('work_linked_training_evaluation_list', {'academicYear': agreement.studentEnrollment.group.grade.training.academicYear.id}), 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ form_end(form) }}
{% endblock %}
