{% trans_default_domain 'wlt_agreement_activity_realization' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}
{% endblock %}

{% block table_header %}
    <th>{{ 'header.student_enrollment'|trans }}</th>
    <th>{{ 'header.training'|trans }}</th>
    <th>{{ 'header.agreement_count'|trans }}</th>
    <th>{{ 'header.completed_activity_realization_count'|trans }}</th>
{% endblock %}

{% block table_body %}
    {% for item in pager %}
        {% set url = path('work_linked_training_evaluation_summary_report', {'id': item[0].id}) %}
        <tr class="clickable-row" data-href="{{ url }}">
            <td>
                <a href="{{ url }}">{{ item[0] }}</a>
            </td>
            <td>{{ item[0].group.grade.training }}</td>
            <td>
                {{ item[1] }}
            </td>
            <td>
                {%  if item[2] %}
                {{ item[3] }}/{{ item[2] }} ({{ (item[3]*100/item[2]) | number_format(2, 'format.decimal_separator'|trans({}, 'general')) }} %)
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">{{ 'table.no_items'|trans }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block before_filter %}
    {% include 'organization/partial_academic_year.html.twig' %}
{% endblock %}

{% block pagerfanta %}
    {{ pagerfanta(pager, 'twitter_bootstrap4_translated', {'css_disabled_class': 'hidden', 'routeParams': {'academicYear': academic_year.id }}) }}
{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}
