{% trans_default_domain 'calendar' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
<h1>
    {{ title }}
    {% if is_granted('WLT_AGREEMENT_GRADE', agreement) %}
        <a href="#" data-toggle="collapse" data-target="#tutor_info" aria-expanded="false"><i class="fas fa-info-circle fa-sm"></i></a>
    {% endif %}
    {% if work_day_today %} {{ m.link_button(path('work_linked_training_tracking_calendar_form', {'id': work_day_today.id}), 'calendar-day', 'btn-primary', 'form.today'|trans) }}{% endif %}
    {% if is_granted('WLT_AGREEMENT_GRADE', agreement) %}
        <div class="collapse alert alert-light" id="tutor_info">
            <h4>{{ agreement.studentEnrollment }}</h4>
            {% if agreement.studentEnrollment.person.emailAddress %}<b>{{ 'form.student_email'|trans }}: </b> {{ agreement.studentEnrollment.person.emailAddress }}<br/>{% endif %}
            <b>{{ 'form.work_center'|trans }}: </b>{{ agreement.workcenter }}
            {% if agreement.workcenter.zipCode %} - {{ agreement.workcenter.zipCode }}{% endif %}
            {% if agreement.workcenter.city %} - {{ agreement.workcenter.city }}{% endif %}
            {% if agreement.workcenter.address %}<br/><b>{{ 'form.work_center.address'|trans }}: </b>{{ agreement.workcenter.address }}{% endif %}
            {% if agreement.workcenter.phoneNumber %}<br/><b>{{ 'form.work_center.phone_number'|trans }}: </b>{{ agreement.workcenter.phoneNumber }}{% endif %}
            {% if agreement.workcenter.faxNumber %}<br/><b>{{ 'form.work_center.fax_number'|trans }}: </b>{{ agreement.workcenter.faxNumber }}{% endif %}
            {% if agreement.workcenter.emailAddress %}<br/><b>{{ 'form.work_center.email'|trans }}: </b>{{ agreement.workcenter.emailAddress }}{% endif %}
            <br/><b>{{ 'form.work_tutor'|trans }}: </b>{{ agreement.workTutor }}
            {% if agreement.workTutor.emailAddress %} - {{ agreement.workTutor.emailAddress }}{% endif %}
            {% if agreement.additionalWorkTutor %}
                <br/><b>{{ 'form.work_tutor'|trans }}: </b>{{ agreement.additionalWorkTutor }}
                {% if agreement.additionalWorkTutor.emailAddress %} - {{ agreement.additionalWorkTutor.emailAddress }}{% endif %}
            {% endif %}
            <br/><b>{{ 'form.educational_tutor'|trans }}: </b>{{ agreement.educationalTutor }}
            {% if agreement.educationalTutor.person.emailAddress %} - {{ agreement.educationalTutor.person.emailAddress }}{% endif %}
            {% if agreement.additionalEducationalTutor %}
                <br/><b>{{ 'form.educational_tutor'|trans }}: </b>{{ agreement.additionalEducationalTutor }}
                {% if agreement.additionalEducationalTutor.person.emailAddress %} - {{ agreement.additionalEducationalTutor.person.emailAddress }}{% endif %}
            {% endif %}
        </div>
    {% endif %}
</h1>
{% include 'wlt/tracking/calendar_stats_partial.html.twig' %}

<section id="exchange">
    <form action="{{ path('work_linked_training_tracking_calendar_operation', {'id': agreement.id}) }}" class="list" method="post">
    {% embed 'wlt/tracking/calendar_partial.html.twig' %}
        {% block day %}
            {% set url = day ? path('work_linked_training_tracking_calendar_form', {'id': day.id}) : '' %}
            <td class="w-13{% if day %} clickable-row {{ day.absence ? (day.absence == 1 ? 'absence' : 'justified-absence') : ((dayData[1] == 0 and day.otherActivities is empty) ? 'workday' : 'submitted') }}" data-href="{{ url }}{% endif %}">
                {% if day %}
                    {% if not read_only|default(false) and selectable %}<label><input type="checkbox" name="items[]" value="{{ day.id }}" class="selectable"> {% endif %}<a href="{{ url }}"><b>{{ day.date|date('d') }}</b></a>{% if selectable %}</label>{% endif %}{% if day and day.locked %} <i class="fas fa-lock"></i>{% endif %}<br/>
                    {{ 'caption.hours'|transchoice(day.hours, {}, 'calendar') }}
                {% elseif n > 0 %}
                    {{ n }}
                {% endif %}
            </td>
        {% endblock %}
    {% endembed %}

    {{ m.link_button(back_url|default(last_url), 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {% if not read_only|default(false) %}
        {% if selectable %}{{ m.link_button('', 'check-square', 'btn-primary', 'form.select_deselect'|trans, 'toggle') }}{% endif %}
        {% if is_granted('WLT_AGREEMENT_LOCK', agreement) %}
            {{ m.submit_button('lock', 'lock', 'btn-danger enable-on-items', 'form.lock_action'|trans) }}
            {{ m.submit_button('unlock', 'lock-open', 'btn-danger enable-on-items', 'form.unlock_action'|trans) }}
        {% endif %}
        {% if is_granted('WLT_AGREEMENT_ATTENDANCE', agreement) %}{{ m.submit_button('attendance', 'user-slash', 'btn-danger enable-on-items', 'form.attendance'|trans) }}{% endif %}
    {% endif %}
    {{ m.link_button_new(path('work_linked_training_tracking_calendar_attendance_report', {'id': agreement.id}), 'file-alt', 'btn-primary', 'form.attendance_report'|trans, null, null) }}
    </form>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('list') }}
{% endblock %}
