{% trans_default_domain 'calendar' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% form_theme form _self %}
{% block content %}
    {% if read_only %}
        <div class="alert alert-warning">{{ 'prompt.read_only_warning'|trans|nl2br }}</div>
    {% else %}
        {% if work_day.locked %}
            <div class="alert alert-warning">{{ 'prompt.locked_warning'|trans|nl2br }}</div>
        {% endif %}
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ m.start_button() }}
        {% if not read_only %}{{ m.submit_button('submit', 'check', 'btn-success', 'form.save'|trans) }}{% endif %}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.end_button() }}
    {{ form_end(form) }}
{% endblock %}

{% block _work_day_tracking_activityRealizations_widget %}
    <div {{ block('widget_container_attributes') }}>
        {% for name, choices in form.vars.choices %}
            <h5 class="checkbox-category">
                {{ name }}
            </h5>
            {% for key, choice in choices %}
                {{ form_widget(form[key], {translation_domain: false}) }}
                {{ form_label(form[key]) }}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
