{% trans_default_domain 'itp_group' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}{% endblock %}

{% block table_header %}
    <th class="w-15">{{ 'header.name'|trans }}</th>
    <th class="w-30">{{ 'header.managers'|trans }}</th>
    <th class="w-10">{{ 'header.default_modality'|trans }}</th>
    <th class="w-10">{{ 'header.target_hours'|trans }}</th>
    <th class="w-10"></th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('in_company_training_phase_student_program_list', {'programGroup': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <a href="{{ url }}">{{ item.group.name }}</a>
                    </td>
                    <td>
                        {{ item.managers|join(', ') }}
                    </td>
                    <td>
                        {{ ('table.modality.' ~ item.actualModality) | trans }}{% if item.modality == 0 %} {{ 'table.modality.inherited'|trans }}{% endif %}
                    </td>
                    <td>
                        {{ (item.targetHours / 100)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}
                    </td>
                    <td>
                        {{ m.link_button(path('in_company_training_phase_group_edit', {'id': item.id}), 'edit', 'btn-info btn-sm btn-block', 'form.edit'|trans) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block filter %}{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.link_button(path('in_company_training_phase_student_program_workcenter_manage_list', {'programGrade': program_grade.id}), 'list-check', 'btn-warning', 'form.manage_student_programs'|trans) }}
{% endblock %}
