{% trans_default_domain 'edu_criterion' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('organization_training_criterion_new', {'id': learning_outcome.id}) }}{% endblock %}

{% block table_header %}
    <th><label><input type="checkbox" id="select"> {{ 'header.code'|trans }}</label></th>
    <th>{{ 'header.name'|trans }}</th>
    <th>{{ 'header.description'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for criterion in pager %}
                {% set url = path('organization_training_criterion_edit', {'id': criterion.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ criterion.id }}" class="selectable"> <a href="{{ url }}">{{ criterion.code }}</a></label>
                    </td>
                    <td>
                        {{ criterion.name|nl2br }}
                    </td>
                    <td>
                        {{ criterion.description|nl2br }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('organization_training_criterion_delete', {'id': learning_outcome.id}) }}" method="post">
{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
</form>
<p class="clearfix"></p>
<h4>{{ 'title.import'|trans }}</h4>
<form action="{{ path('organization_training_criterion_import', {'id': learning_outcome.id}) }}" method="post">
    <textarea class="form form-control" name="data" rows="10" placeholder="{{ 'form.import.placeholder'|trans }}"></textarea>
    <p class="clearfix"></p>
    {{ m.submit_button('import', 'download', 'btn-warning', 'form.import'|trans) }}
    {% if pager|length > 0 %}{{ m.link_button(path('organization_training_criterion_export', {'id': learning_outcome.id}), 'upload', 'btn-warning', 'form.export'|trans) }}{% endif %}
</form>
{% endblock %}
