{% trans_default_domain 'wlt_project' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% form_theme form _self %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ m.start_button() }}
        {{ m.submit_button('submit', 'check', 'btn-success', 'form.save'|trans) }}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.end_button() }}
    {{ form_end(form) }}
{% endblock %}

{% block _project_student_enrollment_studentEnrollments_widget %}
    <div {{ block('widget_container_attributes') }}>
        {% for name, choices in form.vars.choices %}
            <h5 class="checkbox-category">
                {{ name }}
            </h5>
            {% for key, choice in choices %}
                {{ form_widget(form[key], {translation_domain: false}) }}
                {{ form_label(form[key]) }}
            {% endfor %}
        {% else %}
            <h5>{{ 'form.no_student_enrollments'|trans }}</h5>
        {% endfor %}
    </div>
{% endblock %}
