{% trans_default_domain 'calendar' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
<h1>
    {{ title }}
    {% if is_granted('WPT_AGREEMENT_ENROLLMENT_ATTENDANCE', agreement_enrollment) %}
        <a href="#" data-toggle="collapse" data-target="#tutor_info" aria-expanded="false"><i class="fas fa-info-circle fa-sm"></i></a>
    {% endif %}
    {% if work_day_today %} {{ m.link_button(path('workplace_training_tracking_calendar_form', {'agreementEnrollment': agreement_enrollment.id, 'workDay': work_day_today.id}), 'calendar-day', 'btn-primary', 'form.today'|trans) }}{% endif %}
    {% if is_granted('WPT_AGREEMENT_ENROLLMENT_ACCESS', agreement_enrollment) %}
        <div class="collapse alert alert-light" id="tutor_info">
            {% set agreement = agreement_enrollment.agreement %}
            <h4>{{ agreement_enrollment.studentEnrollment }}</h4>
            {% if agreement_enrollment.studentEnrollment.person.emailAddress %}<b>{{ 'form.student_email'|trans }}: </b> {{ agreement_enrollment.studentEnrollment.person.emailAddress }}<br/>{% endif %}
            <b>{{ 'form.work_center'|trans }}: </b>{{ agreement.workcenter }}
            {% if agreement.workcenter.zipCode %} - {{ agreement.workcenter.zipCode }}{% endif %}
            {% if agreement.workcenter.city %} - {{ agreement.workcenter.city }}{% endif %}
            {% if agreement.workcenter.address %}<br/><b>{{ 'form.work_center.address'|trans }}: </b>{{ agreement.workcenter.address }}{% endif %}
            {% if agreement.workcenter.phoneNumber %}<br/><b>{{ 'form.work_center.phone_number'|trans }}: </b>{{ agreement.workcenter.phoneNumber }}{% endif %}
            {% if agreement.workcenter.faxNumber %}<br/><b>{{ 'form.work_center.fax_number'|trans }}: </b>{{ agreement.workcenter.faxNumber }}{% endif %}
            {% if agreement.workcenter.emailAddress %}<br/><b>{{ 'form.work_center.email'|trans }}: </b>{{ agreement.workcenter.emailAddress }}{% endif %}
            <br/><b>{{ 'form.work_tutor'|trans }}: </b>{{ agreement_enrollment.workTutor }}
            {% if agreement_enrollment.workTutor.emailAddress %} - {{ agreement_enrollment.workTutor.emailAddress }}{% endif %}
            {% if agreement_enrollment.additionalWorkTutor %}
                <br/><b>{{ 'form.work_tutor'|trans }}: </b>{{ agreement_enrollment.additionalWorkTutor }}
                {% if agreement_enrollment.additionalWorkTutor.emailAddress %} - {{ agreement_enrollment.additionalWorkTutor.emailAddress }}{% endif %}
            {% endif %}
            <br/><b>{{ 'form.educational_tutor'|trans }}: </b>{{ agreement_enrollment.educationalTutor }}
            {% if agreement_enrollment.educationalTutor.person.emailAddress %} - {{ agreement_enrollment.educationalTutor.person.emailAddress }}{% endif %}
            {% if agreement_enrollment.additionalEducationalTutor %}
                <br/><b>{{ 'form.educational_tutor'|trans }}: </b>{{ agreement_enrollment.additionalEducationalTutor }}
                {% if agreement_enrollment.additionalEducationalTutor.person.emailAddress %} - {{ agreement_enrollment.additionalEducationalTutor.person.emailAddress }}{% endif %}
            {% endif %}
        </div>
    {% endif %}
</h1>
{% include 'wpt/tracking/calendar_stats_partial.html.twig' %}
<section id="exchange">
    <form action="{{ path('workplace_training_tracking_calendar_operation', {'id': agreement_enrollment.id}) }}" class="list" method="post">
    {% embed 'wpt/tracking/calendar_partial.html.twig' %}
        {% block day %}
            {% set url = day ? path('workplace_training_tracking_calendar_form', {'workDay': day.id, 'agreementEnrollment': agreement_enrollment.id}) : '' %}
            <td class="w-13{% if day %} clickable-row {{ tracked_day and tracked_day.absence ? (tracked_day.absence == 1 ? 'absence' : 'justified-absence') : ((dayData[2] is not null or (tracked_day and tracked_day.otherActivities is not empty)) ? (dayData[2] == day.hours * 100 ? 'submitted-ok' : 'submitted-warning') : 'workday') }}" data-href="{{ url }}{% endif %}">
                {% if day %}
                    {% if not read_only|default(false) and selectable %}<label><input type="checkbox" name="items[]" value="{{ day.id }}" class="selectable"> {% endif %}<a href="{{ url }}"><b>{{ day.date|date('d') }}</b></a>{% if selectable %}</label>{% endif %}{% if tracked_day and tracked_day.locked %} <i class="fas fa-lock"></i>{% endif %}<br/>
                    {{ dayData[2] ? dayData[2]/100.0 : '0' }}/{{ 'caption.hours'|transchoice(day.hours, {}, 'calendar') }}
                {% elseif n > 0 %}
                    {{ n }}
                {% endif %}
            </td>
        {% endblock %}
    {% endembed %}

    {{ m.link_button(back_url|default(last_url), 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {% if not read_only|default(false) %}
        {% if selectable %}{{ m.link_button('', 'check-square', 'btn-primary', 'form.select_deselect'|trans, 'toggle') }}{% endif %}
        {% if is_granted('WPT_AGREEMENT_ENROLLMENT_LOCK', agreement_enrollment) %}
            {{ m.submit_button('lock', 'lock', 'btn-danger enable-on-items', 'form.lock_action'|trans) }}
            {{ m.submit_button('unlock', 'lock-open', 'btn-danger enable-on-items', 'form.unlock_action'|trans) }}
        {% endif %}
        {% if is_granted('WPT_AGREEMENT_ENROLLMENT_ATTENDANCE', agreement_enrollment) %}{{ m.submit_button('attendance', 'user-slash', 'btn-danger enable-on-items', 'form.attendance'|trans) }}{% endif %}
    {% endif %}
    {{ m.link_button_new(path('workplace_training_tracking_calendar_attendance_report', {'id': agreement_enrollment.id}), 'file-alt', 'btn-primary', 'form.attendance_report'|trans) }}
    {% if is_granted('WPT_AGREEMENT_ENROLLMENT_VIEW_ACTIVITY_REPORT', agreement_enrollment) %}
        {{ m.link_button_new(path('workplace_training_tracking_calendar_activity_summary_report', {'id': agreement_enrollment.id}), 'file-alt', 'btn-primary', 'form.activity_summary_report'|trans) }}
    {% endif %}
    </form>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('list') }}
{% endblock %}
