{% trans_default_domain 'wpt_tracking' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}{% endblock %}

{% block table_header %}
    <th>{{ 'header.student'|trans }}</th>
    <th>{{ 'header.shift'|trans }}</th>
    <th>{{ 'header.workcenter'|trans }}</th>
    <th>{{ 'header.work_tutor'|trans }}</th>
    <th>{{ 'header.educational_tutor'|trans }}</th>
    <th>{{ 'header.dates'|trans }}</th>
    <th>{{ 'header.status'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set agreementEnrollment = item[0] %}
                {% set agreement = item[0].agreement %}
                {% set url = path('workplace_training_tracking_calendar_list', {'id': agreementEnrollment.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <a href="{{ url }}">{{ agreementEnrollment.studentEnrollment }}</a>
                    </td>
                    <td>
                        {{ agreement.shift }}
                        {% if agreement.shift.locked %} <i class="fa fa-lock"></i>{% endif %}
                    </td>
                    <td>{{ agreement.workcenter }}</td>
                    <td>{{ agreementEnrollment.workTutor }}</td>
                    <td>{{ agreementEnrollment.educationalTutor }}</td>
                    <td>{{ agreement.startDate ? agreement.startDate|date('format.date'|trans({}, 'general')) }}{{ agreement.endDate ? ' - ' ~ (agreement.endDate|date('format.date'|trans({}, 'general'))) }}</td>
                    <td>
                        {% if item[1] %}
                            {{ item[2] }}/{{ 'table.hours'|transchoice(item[1]) }} ({{ (item[2]*100/item[1]) | number_format(2, 'format.decimal_separator'|trans({}, 'general')) }} %)
                            {% if item[3] != 0 %}
                                - {{ 'table.absences'|transchoice(item[3]) }}
                                {% if item[4] != 0 %}
                                    - {{ 'table.justified_absences'|transchoice(item[4]) }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_filter %}
    {% include 'organization/partial_academic_year.html.twig' %}
{% endblock %}

{% block pagerfanta %}
    {{ pagerfanta(pager, 'twitter_bootstrap4_translated', {'css_disabled_class': 'hidden', 'routeParams': {'academicYear': academic_year.id }}) }}
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}
