{% trans_default_domain 'calendar' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
<h1>
    {{ title }}{% if work_day_today %} {{ m.link_button(path('work_linked_training_tracking_calendar_form', {'id': work_day_today.id}), 'calendar-day', 'btn-primary', 'form.today'|trans) }}{% endif %}
</h1>
{% include 'wlt/tracking/calendar_stats_partial.html.twig' %}
<section id="exchange">
    <form action="{{ path('work_linked_training_tracking_calendar_operation', {'id': agreement.id}) }}" class="list" method="post">
    {% embed 'wlt/tracking/calendar_partial.html.twig' %}
        {% block day %}
            {% set url = day ? path('work_linked_training_tracking_calendar_form', {'id': day.id}) : '' %}
            <td class="w-13{% if day %} clickable-row {{ day.absence ? (day.absence == 1 ? 'absence' : 'justified-absence') : ((dayData[1] == 0 and day.otherActivities is empty) ? 'workday' : 'submitted') }}" data-href="{{ url }}{% endif %}">
                {% if day %}
                    {% if not read_only|default(false) and selectable %}<label><input type="checkbox" name="items[]" value="{{ day.id }}" class="selectable"> {% endif %}<a href="{{ url }}"><b>{{ day.date|date('d') }}</b></a>{% if selectable %}</label>{% endif %}{% if day and day.locked %} <i class="fas fa-lock"></i>{% endif %}<br/>
                    {{ 'caption.hours'|transchoice(day.hours, {}, 'calendar') }}
                {% elseif n > 0 %}
                    {{ n }}
                {% endif %}
            </td>
        {% endblock %}
    {% endembed %}

    {{ m.link_button(back_url|default(last_url), 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {% if not read_only|default(false) %}
        {% if selectable %}{{ m.link_button('', 'check-square', 'btn-primary', 'form.select_deselect'|trans, 'toggle') }}{% endif %}
        {% if is_granted('WLT_AGREEMENT_LOCK', agreement) %}
            {{ m.submit_button('lock', 'lock', 'btn-danger enable-on-items', 'form.lock_action'|trans) }}
            {{ m.submit_button('unlock', 'lock-open', 'btn-danger enable-on-items', 'form.unlock_action'|trans) }}
        {% endif %}
        {% if is_granted('WLT_AGREEMENT_ATTENDANCE', agreement) %}{{ m.submit_button('attendance', 'user-slash', 'btn-danger enable-on-items', 'form.attendance'|trans) }}{% endif %}
    {% endif %}
    {{ m.link_button(path('work_linked_training_tracking_calendar_attendance_report', {'id': agreement.id}), 'file-alt', 'btn-primary', 'form.attendance_report'|trans) }}
    </form>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/list.js') }}"></script>
{% endblock %}
