{% trans_default_domain 'edu_academic_year' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    <form method="post">
        {% for academic_year in academic_years %}
            <input type="hidden" name="items[]" value="{{ academic_year.id }}">
        {% endfor %}
        <input type="hidden" name="confirm" value="ok">
        <div class="alert alert-warning">{{ 'prompt.delete_confirm'|trans|nl2br }}</div>
        <div id="table" class="col-md-12 table-responsive">
            <table id="list" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-12">{{ 'header.description'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for academic_year in academic_years %}
                        <tr>
                            <td>{{ academic_year.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('submit', 'trash', 'btn-danger', 'form.delete_confirm'|trans) }}
    </form>
{% endblock %}
