{% trans_default_domain 'edu_academic_year' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('organization_academic_year_new') }}{% endblock %}

{% block table_header %}
    <th class="w-20"><label><input type="checkbox" id="select"> {{ 'header.description'|trans }}</label></th>
    <th class="w-20">{{ 'header.principal'|trans }}</th>
    <th class="w-20">{{ 'header.financial_manager'|trans }}</th>
    <th class="w-15">{{ 'header.modules'|trans }}</th>
    <th class="w-15"></th>
    <th class="w-10">{{ 'header.active'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for academic_year in pager %}
                {% set url = path('organization_academic_year_edit', {'id': academic_year.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ academic_year.id }}"{% if academic_year == current %} disabled="disabled"{% else %} class="selectable"{% endif %}> <a href="{{ url }}">{{ academic_year.description }}</a></label>
                    </td>
                    <td>
                        {{ academic_year.principal|default('') }}
                    </td>
                    <td>
                        {{ academic_year.financialManager|default('') }}
                    </td>
                    <td>
                        {% for module in module_extension.modules %}
                            {% if academic_year.hasModule(module) %}<span class="badge badge-pill badge-info" title="{{ 'module.description'|trans([], 'module_'~module) }}">{{ 'module.initials'|trans([], 'module_'~module) }}</span>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ m.link_button(path('organization_academic_year_copy', {'id': academic_year.id}), 'copy', 'btn-secondary btn-sm btn-block', 'form.copy'|trans) }}
                    </td>
                    <td>
                        {% if academic_year != current %}
                            {{ m.submit_button('switch', 'lightbulb', 'btn-primary btn-sm btn-block', 'form.switch'|trans, false, academic_year.id) }}
                        {% else %}
                            <i class="fas fa-check"></i> {{ 'table.active'|trans }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('organization_academic_year_operation') }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
