{% trans_default_domain 'wlt_survey' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}{% endblock %}

{% block table_header %}
    <th>{{ 'header.teacher'|trans }}</th>
    <th>{{ 'header.status'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('work_linked_training_survey_organization_form', {'id': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <a href="{{ url }}">{{ item.person.lastName }}, {{ item.person.firstName }}</a>
                    </td>
                    <td>
                        {{ (item.wltTeacherSurvey ? 'table.answered.yes' : 'table.answered.no')|trans }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_filter %}
    {% include 'organization/partial_academic_year.html.twig' %}
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}
