{% trans_default_domain 'wlt_survey' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}{% endblock %}

{% block table_header %}
    <th>{{ 'header.educational_tutor'|trans }}</th>
    <th>{{ 'header.project'|trans }}</th>
    <th>{{ 'header.academic_year'|trans }}</th>
    <th>{{ 'header.status'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager  %}
                {% set url = path('work_linked_training_survey_educational_tutor_form', {'project': item.id, 'id': item[0].id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <a href="{{ url }}">{{ item[0].person.lastName }}, {{ item[0].person.firstName }}</a>
                    </td>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item[0].academicYear }}
                    </td>
                    <td>
                        {{ (item[1] ? 'table.answered.yes' : 'table.answered.no')|trans }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_filter %}
    {% include 'organization/partial_academic_year.html.twig' %}
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}
