{% trans_default_domain 'import' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% import 'admin/organization/import/import_macros.html.twig' as im %}
{% block content %}
    {% if not stats %}
        {{ im.show_import_instructions(columns, 'student_login') }}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button() }}
            {{ m.submit_button('submit', 'check', 'btn-success', 'form.student_login.do_import'|trans) }}
            {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.end_button() }}
        {{ form_end(form) }}
    {% else %}
        {% if stats.conflicts %}
            <div class="alert alert-danger">
                <h3>{{ 'warning.student_login.conflicts'|trans }}</h3>
            </div>
        {% endif %}
        <h4>{{ 'report.stats'|trans }}</h4>
        <ul>
            <li>{{ 'report.student_login.list'|trans }}: {{ stats.total_items }}</li>
            <li>{{ 'report.student_login.updated'|trans }}: {{ stats.updated_items }}</li>
        </ul>
        {% if stats.collection %}
            <h4>{{ 'report.student_login.updated'|trans }}</h4>
            <ul>
                {% for item in stats.collection %}
                    <li><b>{{ item.username }}</b>: {{ item.student_enrollment }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if stats.conflicts %}
            <h4>{{ 'report.student_login.conflicts'|trans }}</h4>
            <ul>
                {% for item in stats.conflicts %}
                    <li><b>{{ item.username }}</b> - {{ item.name }}
                        {% if item.student_enrollments %}
                            - <i>Hay varios estudiantes en el curso académico con exactamente el mismo nombre y apellidos:</i>
                            <ul>
                            {% for student_enrollment in item.student_enrollments %}
                                <li><a href="{{ path('admin_user_form_edit', {'id': student_enrollment.person.id }) }}" target="_blank">{{ student_enrollment }}</a></li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            - <i>Hay varios usuarios PASEN asociados al mismo nombre y apellidos</i>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {% endif %}
{% endblock %}
