{% trans_default_domain 'import' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% import 'admin/organization/import/import_macros.html.twig' as im %}
{% block content %}
    {% if not stats %}
        {{ im.show_import_instructions(columns, 'student') }}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button() }}
            {{ m.submit_button('submit', 'check', 'btn-success', 'form.student.do_import'|trans) }}
            {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.end_button() }}
        {{ form_end(form) }}
    {% else %}
        <h4>{{ 'report.stats'|trans }}</h4>
        <ul>
            <li>{{ 'report.student.new'|trans }}: {{ stats.new_items }}</li>
            <li>{{ 'report.student.old'|trans }}: {{ stats.old_items }}</li>
        </ul>
        {% if stats.collection %}
            <h4>{{ 'report.student.list'|trans }}</h4>
            <ul>
                {% for item in stats.collection %}
                    <li>{{ item.person }} - {{ item.group }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {% endif %}
{% endblock %}
