{% trans_default_domain 'import' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    {% if not stats %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button() }}
            {{ m.submit_button('submit', 'check', 'btn-success', 'form.subject.do_import'|trans) }}
            {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.end_button() }}
        {{ form_end(form) }}
    {% else %}
        <h4>{{ 'report.stats'|trans }}</h4>
        <ul>
            <li>{{ 'report.subject.new'|trans }}: {{ stats.new_items }}</li>
            <li>{{ 'report.subject.old'|trans }}: {{ stats.old_items }}</li>
        </ul>
        {% if stats.collection %}
            <h4>{{ 'report.subject.list'|trans }}</h4>
            <ul>
                {% for item in stats.collection %}
                    <li><b>{{ item.name }}: </b>{{ item.grade }}</li>
                {% endfor %}
            </ul>
            {% if stats.deleted_list %}
                <h4>{{ 'report.subject.deleted_list'|trans }}</h4>
                <ul>
                    {% for item in stats.deleted_list %}
                        <li><b>{{ item.name }}: </b>{{ item.grade }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {% endif %}
{% endblock %}
