{% trans_default_domain 'itp_company' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('in_company_training_phase_company_new', {'programGrade': program_grade.id}) }}{% endblock %}

{% block table_header %}
    <th class="w-10"><label><input type="checkbox" id="select"> {{ 'header.code'|trans }}</label></th>
    <th class="w-30">{{ 'header.name'|trans }}</th>
    <th class="w-15">{{ 'header.agreement_number'|trans }}</th>
    <th class="w-15">{{ 'header.activities'|trans }}</th>
    <th class="w-15">{{ 'header.learning_outcomes'|trans }}</th>
    <th class="w-15">{{ 'header.criteria'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('in_company_training_phase_company_edit', {'id': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ item.id }}" class="selectable">
                        <a href="{{ url }}">{{ item.company.code }}</a>
                        </label>
                    </td>
                    <td>
                        {{ item.company.name }}
                    </td>
                    <td>
                        {{ item.agreementNumber }}
                    </td>
                    <td>
                        {{ stats[item.id].activity_count }}
                    </td>
                    <td>
                        {{ stats[item.id].learning_outcome_count }}
                    </td>
                    <td>
                        {{ stats[item.id].criteria_count }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('in_company_training_phase_company_operation', {'programGrade': program_grade.id}) }}" method="post">
{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
</form>
{% endblock %}
