
{% macro start_button() %}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
{% endmacro %}

{% macro end_button() %}
        </div>
    </div>
{% endmacro %}

{% macro submit_button(name, icon = null, class = 'btn-success', caption, disabled, value) %}
    <button type="submit" name="{{ name }}" class="btn btn-sm-block {{ class }}"{% if disabled %} disabled="disabled"{% endif %}{% if value %} value="{{ value }}"{% endif %}>{% if icon %}<i class="fa fa-{{ icon }}"></i> {% endif %}{{ caption }}</button>
{% endmacro %}

{% macro link_button(href, icon = null, class = 'btn-success', caption, id = null, responsive = null) %}
    <a href="{{ href }}" class="btn btn-sm-block {{ class }}"{% if id %} id="{{ id }}"{% endif %}>{% if icon %}<i class="fa fa-{{ icon }}"></i> {% endif %}{% if responsive %}<span class="{{ responsive }}">{% endif %}{{ caption }}{% if responsive %}</span>{% endif %}</a>
{% endmacro %}
