{% trans_default_domain 'itp_grade' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block table_header %}
    <th class="w-20">{{ 'header.grade'|trans }}</th>
    <th class="w-20">{{ 'header.groups'|trans }}</th>
    <th class="w-5">{{ 'header.target_hours'|trans }}</th>
    <th class="w-5">{{ 'header.subjects'|trans }}</th>
    <th class="w-5">{{ 'header.learning_outcomes'|trans }}</th>
    <th class="w-5">{{ 'header.activities'|trans }}</th>
    <th class="w-10"></th>
    <th class="w-10"></th>
    <th class="w-10"></th>
    <th class="w-10"></th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = '' %}
                {% set program_grade = item.program_grade %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <a href="{{ url }}">{{ program_grade.grade.name }}</a>
                    </td>
                    <td>
                        {% for group in program_grade.grade.groups %}{{ group.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                    </td>
                    <td>
                        {{ (program_grade.targetHours / 100)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}
                    </td>
                    <td>
                        {{ item.total_subjects }}
                    </td>
                    <td>
                        {{ item.total_learning_outcomes }}
                    </td>
                    <td>
                        {{ item.total_activities }}
                    </td>
                    <td>
                        {{ m.link_toolbar_button(path('in_company_training_phase_grade_learning_outcome_edit', {'programGrade': program_grade.id}), 'list', 'btn-info btn-sm btn-block', 'header.learning_outcomes'|trans) }}
                    </td>
                    <td>
                        {{ m.link_toolbar_button(path('in_company_training_phase_activity_list', {'programGrade': program_grade.id}), 'book', 'btn-info btn-sm btn-block h-100', 'header.activities'|trans) }}
                    </td>
                    <td>
                        {{ m.link_toolbar_button(path('in_company_training_phase_company_list', {'programGrade': program_grade.id}), 'industry', 'btn-info btn-sm btn-block', 'header.companies'|trans) }}
                    </td>
                    <td>
                        {{ m.link_toolbar_button('', 'thumbtack', 'btn-info btn-sm btn-block', 'header.specific_training'|trans) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block filter %}{% endblock %}

{% block after_table %}
    <div class="clearfix"></div>
    {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
{% endblock %}
