{% trans_default_domain 'ict_location' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('ict_location_form_new') }}{% endblock %}

{% block table_header %}
    <th class="w-40"><label><input type="checkbox" id="select"> {{ 'header.name'|trans }}</label></th>
    <th class="w-10">{{ 'header.element_count'|trans }}</th>
    <th class="w-20">{{ 'header.additional_data'|trans }}</th>
    <th class="w-30">{{ 'header.description'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for location in pager %}
                {% set url = path('ict_location_form_edit', {'id': location[0].id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="locations[]" value="{{ location[0].id }}" class="selectable"> <a href="{{ url }}">{{ location[0].name }}</a></label>{% if location[0].hidden %} <i class="fas fa-eye-slash"></i>{% endif %}
                    </td>
                    <td>
                        {{ location[1] }}{% if location['unavailable_count'] %}
                            <span class="text-danger"> ({{ location['unavailable_count'] }} <i class="fas fa-exclamation-circle"></i>{% if location['being_repaired_count'] %}/{{ location['being_repaired_count'] }} <i class="fas fa-toolbox"></i></span>{% endif %}){% endif %}
                    </td>
                    <td>
                        {{ location[0].additionalData }}
                    </td>
                    <td>
                        {{ location[0].description }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="filter">
        <label class="btn btn-secondary active">
            <input type="radio" name="filter" value="0" autocomplete="off" {% if f == 0 %}checked{% endif %}> {{ 'form.filter.show_all'|trans }}
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="filter" value="1" autocomplete="off" {% if f == 1 %}checked{% endif %}> {{ 'form.filter.unavailable'|trans }}
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="filter" value="2" autocomplete="off" {% if f == 2 %}checked{% endif %}> {{ 'form.filter.being_repaired'|trans }}
        </label>
    </div>
    <form action="{{ path('ict_location_operation') }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
