{% trans_default_domain 'ict_ticket' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    <form method="post">
        {% for item in items %}
            <input type="hidden" name="items[]" value="{{ item.id }}">
        {% endfor %}
        <input type="hidden" name="confirm" value="ok">
        <div class="alert alert-warning">{{ 'prompt.delete_confirm'|trans|nl2br }}</div>
        <div id="table" class="col-md-12 table-responsive">
            <table id="list" class="table table-bordered table-hover table-striped table-sm">
                <thead>
                    <tr>
                        <th class="w-10">{{ 'header.id'|trans }}</th>
                        <th class="w-20">{{ 'header.priority'|trans }}</th>
                        <th class="w-20">{{ 'header.created_by'|trans }}</th>
                        <th class="w-10">{{ 'header.created_on'|trans }}</th>
                        <th class="w-40">{{ 'header.description'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.priority }}</td>
                            <td>{{ item.createdBy }}</td>
                            <td>{{ item.createdOn|date('format.datetime'|trans({}, 'general')) }}</td>
                            <td>{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('submit', 'trash', 'btn-danger', 'form.delete_confirm'|trans) }}
    </form>
{% endblock %}
