{% trans_default_domain 'ict_ticket' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    {% if disabled %}
        <div class="alert alert-warning" role="alert">
            {{ 'alert.disabled'|trans }}
        </div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ m.start_button() }}
        {% if not disabled %}{{ m.submit_button('submit', 'check', 'btn-success', 'form.save'|trans) }}{% endif %}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.end_button() }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/ticket.js') }}"></script>
{% endblock %}
