{% trans_default_domain 'ict_ticket' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('ict_ticket_form_new') }}{% endblock %}

{% block table_header %}
    <th class="w-10"><label>{% if admin %}<input type="checkbox" id="select"> {% endif %}{{ 'header.id'|trans }}</label></th>
    <th class="w-20">{{ 'header.state'|trans }}</th>
    <th class="w-20">{{ 'header.people'|trans }}</th>
    <th class="w-20">{{ 'header.element'|trans }}</th>
    <th class="w-30">{{ 'header.description'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('ict_ticket_form_edit', {'id': item.id}) %}
                <tr class="clickable-row {% if not item.closedOn and item.dueOn and item.dueOn<date('now') %}bg-danger{% endif %}" data-href="{{ url }}">
                    <td>
                        <label>{% if admin %}<input type="checkbox" name="items[]" value="{{ item.id }}" class="selectable"> {% endif %}<a href="{{ url }}">{{ item.id }}</a></label>
                        {% if item.priority and item.priority.levelNumber %}<span class="badge badge-pill badge-primary" style="background-color: {{ item.priority.color }} !important;"> {{ item.priority.name }}</span>{% endif %}
                        {% if item.closedOn %}<span class="badge badge-pill badge-primary"> {{ 'info.closed'|trans }}</span>{% endif %}
                    </td>
                    <td>
                        <b>{{ 'info.created_on'|trans }}</b>{{ item.createdOn|date('format.date'|trans({}, 'general')) }}
                        {% if item.closedOn %}<br/><b>{{ 'info.closed_on'|trans }}</b>{{ item.closedOn|date('format.date'|trans({}, 'general')) }}
                        {% elseif item.dueOn %}<br/><b>{{ 'info.due_on'|trans }}</b>{{ item.dueOn|date('format.date'|trans({}, 'general')) }}{% endif %}
                    </td>
                    <td>
                        <b>{{ 'info.created_by'|trans }}</b>{{ item.createdBy }}
                        <br/>
                        {% if item.closedBy %}
                            <b>{{ 'info.closed_by'|trans }}</b>{{ item.closedBy }}
                        {% else %}
                            <b>{{ 'info.assigned_to'|trans }}</b>{{ item.assignee ?: 'form.no_assignee'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        {{ item.element }}
                    </td>
                    <td>
                        {{ item.description|nl2br }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <div class="btn-group btn-group-toggle" id="filter" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="filter" value="0" autocomplete="off" {% if f == 0 %}checked{% endif %}> {{ 'form.filter.show_all'|trans }}
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="filter" value="1" autocomplete="off" {% if f == 1 %}checked{% endif %}> {{ 'form.filter.late'|trans }}
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="filter" value="2" autocomplete="off" {% if f == 2 %}checked{% endif %}> {{ 'form.filter.closed'|trans }}
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="filter" value="3" autocomplete="off" {% if f == 3 %}checked{% endif %}> {{ 'form.filter.unassigned'|trans }}
        </label>
    </div>
    <form action="{{ path('ict_ticket_operation') }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {% if admin %}{{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}{% endif %}
    </form>
{% endblock %}
