{% trans_default_domain 'ict_ticket' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block new_action %}{% endblock %}

{% block table_header %}
    <th class="w-10"><label><input type="checkbox" id="select"> {{ 'header.id'|trans }}</label></th>
    <th class="w-10">{{ 'header.created_on'|trans }}</th>
    <th class="w-20">{{ 'header.created_by'|trans }}</th>
    <th class="w-20">{{ 'header.element'|trans }}</th>
    <th class="w-40">{{ 'header.description'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for item in pager %}
                {% set url = path('ict_ticket_form_edit', {'id': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ item.id }}" class="selectable"> <a href="{{ url }}">{{ item.id }}</a></label>
                    </td>
                    <td>
                        <a href="{{ url }}">{{ item.createdOn|date('format.date'|trans({}, 'general')) }}</a>
                    </td>
                    <td>
                        <a href="{{ url }}">{{ item.createdBy }}</a>
                    </td>
                    <td>
                        {{ item.element }}
                    </td>
                    <td>
                        {{ item.description|nl2br }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('ict_ticket_triage_operation') }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        <div class="card card-body bg-light">
            {{ form_widget(form) }}
            {{ m.submit_button('assign', 'stamp', 'btn-primary enable-on-items', 'form.assign'|trans) }}
        </div>
        {{ form_end(form) }}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
