{% trans_default_domain 'calendar' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    <form method="post">
        {% for item in items %}
            <input type="hidden" name="items[]" value="{{ item.id }}">
        {% endfor %}
        <input type="hidden" name="confirm" value="ok">
        <div class="alert alert-warning">{{ 'prompt.attendance_confirm'|trans|nl2br }}</div>
        <div id="table" class="col-md-12 table-responsive">
            <table id="list" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>{{ 'header.date'|trans }}</th>
                        <th>{{ 'header.hours'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr {% if item.locked %}class="bg-danger"{% endif %}>
                            <td>{{ item.date|date('format.date'|trans({}, 'general')) }}</td>
                            <td>{{ 'caption.hours'|trans({'count': item.hours}) }}</td>
                            <td>{{ item.locked ? 'header.locked'|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('submit', 'user-slash', 'btn-danger', 'form.attendance_confirm'|trans) }}
    </form>
{% endblock %}
