{% trans_default_domain 'wlt_agreement' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% form_theme form _self %}

{% block content %}
    {{ form_start(form, {'attr': {'data-ajax': path('work_linked_training_agreement_new', {'project': agreement.project.id})}}) }}
    {{ form_widget(form) }}
    {{ m.start_button() }}
        {% if not read_only %}{{ m.submit_button('submit', 'check', 'btn-success', 'form.save'|trans) }}{% endif %}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.end_button() }}
    {{ form_end(form) }}

    <input type="hidden" id="new-person-label" value="{{ 'title.new'|trans({}, 'person') }}" />
    {% include 'user/new_person_modal.partial.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    {{ encore_entry_script_tags('wlt_agreement') }}
    {{ encore_entry_script_tags('person') }}
    <script>
        $(document).ready(function () {
            $('.select2entity[data-autostart="true"]').select2('destroy');
            $('.select2entity[data-autostart="true"]').select2entity({
                theme: "bootstrap",
                language: {
                    inputTooShort: function () {
                        return "{{ 'input.unique_identifier'|trans({}, 'person') }}";
                    },
                    searching: function () {
                        return "{{ 'input.searching'|trans({}, 'person') }}";
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block _agreement_activityRealizations_widget %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.vars.choices %}
            <button type="button" id="select_all" class="btn btn-sm btn-secondary" title="{{ 'form.select_all'|trans }}"><i class="fa fa-check-square"></i></button>
            <button type="button" id="select_none" class="btn btn-sm btn-secondary" title="{{ 'form.select_none'|trans }}"><i class="fa fa-square"></i></button>
        {% endif %}
        {% for name, choices in form.vars.choices %}
            <h5 class="checkbox-category">
                {{ name }}
            </h5>
            {% for key, choice in choices %}
                {{ form_widget(form[key], {translation_domain: false}) }}
                {{ form_label(form[key]) }}
            {% endfor %}
        {% else %}
            <h5 class="checkbox-category">
                {{ 'form.no_activity_realizations'|trans }}
            </h5>
        {% endfor %}
    </div>
{% endblock %}
