{% trans_default_domain 'edu_teacher' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}


{% block path_new %}{{ path('organization_teacher_new') }}{% endblock %}
{% block more_actions %}
    <a href="{{ path('organization_import_teacher_form') }}" class="btn btn-info"><i class="fa fa-download"></i> {{ 'table.import'|trans }}</a>
{% endblock %}

{% block table_header %}
    <th class="w-20"><label><input type="checkbox" id="select"> {{ 'header.name'|trans }}</label></th>
    <th class="w-80">{{ 'header.subjects'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for teacher in pager %}
                {% set url = path('organization_teacher_edit', {'id': teacher.id}) %}
                {% set person = teacher.person %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="users[]" value="{{ teacher.id }}" class="selectable"> <a href="{{ url }}">{{ person.lastName }}, {{ teacher.person.firstName }}</a></label>
                    </td>
                    <td>
                        {% for teaching in teacher.teachings %}{{ teaching.subject.name }} ({{ teaching.group }}){% if not loop.last %}, {% endif %}{% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">{{ 'table.no_users'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_filter %}
    {% include 'organization/partial_academic_year.html.twig' %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('organization_teacher_delete', {'academicYear': academic_year.id}) }}" method="post">
{% endblock %}

{% block pagerfanta %}
    {{ pagerfanta(pager, 'twitter_bootstrap4', {'prev_message': 'paginator.prev'|trans([], 'general'), 'next_message': 'paginator.next'|trans([], 'general'), 'css_disabled_class': 'd-none', 'routeParams': {'academicYear': academic_year.id }}) }}
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
