{% trans_default_domain 'user' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    <div class="alert alert-info">{{ 'prompt.forced_password_change'|trans|nl2br }}</div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ m.start_button() }}
        {{ m.submit_button('submit', 'check', 'btn-success', 'form.save'|trans) }}
        {{ m.link_button(path('logout'), 'power-off', 'btn-primary', 'form.disconnect'|trans) }}
    {{ m.end_button() }}
    {{ form_end(form) }}
{% endblock %}
