{% trans_default_domain "security" %}
{% extends 'security/login_base.html.twig' %}

{% block login_title %}{{ 'form.login.title'|trans }}{% endblock %}

{% block login_action %}{{ path('login_check') }}{% endblock %}

{% block login_content %}
<form method="post" action="{{ path('login_check') }}" role="form">
    <div class="form-group">
        <label for="email">{{ 'form.login.username_email'|trans }}</label>
        <input type="text" name="_username" id="email" required="" class="form-control" tabindex="1"
               autocorrect="off" autocapitalize="none" value="{{ last_username | default('') }}"
               {% if not last_username %}autofocus="" {% endif %}>
    </div>
    <div class="form-group">
        <div class="pull-right"><a href="{{ path('login_password_reset') }}" tabindex="4">{{ 'form.login.password.reset'|trans }}</a></div>
        <label for="password">{{ 'form.login.password'|trans }}</label>
        <input type="password" name="_password" id="password" required="" class="form-control" tabindex="2"
               {% if last_username %}autofocus="" {% endif %}>
    </div>
    <div class="form-group">
        <button type="submit" name="login" class="btn btn-info col-xs-12" tabindex="4">{{ 'form.login.submit'|trans }}</button>
    </div>
</form>
{% endblock %}
