{% trans_default_domain "security" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'security/login_base.html.twig' %}

{% block title 'form.reset.title'|trans %}

{% block login_title %}{{ 'form.reset.title'|trans }} - {{ user.emailAddress }}{% endblock %}

{% block login_action %}{% endblock %}

{% block login_content %}
    {{ form_start(form) }}
    <div class="form-group">
        <div class="pull-right"><a href="{{ path('login') }}" tabindex="4">{{ 'form.reset.back'|trans }}</a></div>
        {{ form_errors(form.newPassword) }}
        {{ form_widget(form.newPassword) }}
    </div>
    <div class="form-group">
        <button type="submit" name="login" class="btn btn-info col-xs-12" tabindex="5">{{ 'form.reset.submit_set'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
