{% trans_default_domain 'user' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    {% if user.tokenType is not null and user.tokenType != 'password' and user.tokenExpiration > date() %}
        <div class="alert alert-warning">
            {{ 'prompt.email_change_warning'|trans({
                'email': user.tokenType,
                'date': user.tokenExpiration|date('format.date'|trans({}, 'general')),
                'time': user.tokenExpiration|date('format.time'|trans({}, 'general'))
            })
            }}
        </div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ m.start_button() }}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.end_button() }}
    {{ form_end(form) }}
{% endblock %}
