{% trans_default_domain 'wlt_report' %}
<html>
<head>
    <title>{{ 'title.attendance'|trans }} - {{ project.organization }} - {{ project }}</title>
    <style>
        @page {
            margin-left: 1.5cm;
            margin-right: 1.5cm;
        }

        body {
            font-family: sans-serif;
        }

        table {
            font-family: dejavusanscondensed, sans-serif;
            border-style: solid;
            border-width: 1px;
            border-collapse: collapse;
        }

        table td {
            border-style: solid;
            border-width: 1px;
        }

        table th {
            border-style: solid;
            border-width: 1px;
        }

        table.data {
            width: 100%;
        }

        table.data td {
            padding: 0.3em;
        }

        table.data td.info {
            font-family: dejavusanscondensed, sans-serif;
            font-weight: bold;
            text-align: right;
        }

        tr.mark {
            background-color: #eeeeee;
        }

        table.survey {
            margin-top: 1em;
            width: 100%;
        }

        table.survey td {
            padding: 0.3em;
        }

        table.survey th {
            background-color: #cccccc;
            padding: 0.3em;
        }

        table.survey {
            font-size: 80%;
        }

        table.survey tfoot th {
            font-size: 120%;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }
    </style>
</head>
<body>
    <h1>{{ app_name }} - {{ project.organization }} - {{ project }}</h1>
    <h2>{{ 'title.attendance'|trans }}</h2>
    <h3>{{ 'title.attendance.hours_summary'|trans }}</h3>
    <table class="survey">
        <thead>
        <tr>
            <th width="30%">{{ 'header.student'|trans }}</th>
            <th width="30%">{{ 'header.workcenter'|trans }}</th>
            <th width="10%">{{ 'header.total_hours'|trans }}</th>
            <th width="10%">{{ 'header.no_absence'|trans }}</th>
            <th width="10%">{{ 'header.unjustified_absence'|trans }}</th>
            <th width="10%">{{ 'header.justified_absence'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% set sum1 = 0 %}
        {% set sum2 = 0 %}
        {% set sum3 = 0 %}
        {% set sum4 = 0 %}
        {% set no_data = 1 %}
        {% for data in agreement_data %}
            {% if data[1] %}
                {% set no_data = 0 %}
                <tr>
                    <td>{{ data[0].studentEnrollment }}</td>
                    <td>{{ data[0].workcenter }}</td>
                    <td class="center">{{ data[1] }}</td>
                    <td class="center">{{ data[2] }} ({{ (data[2]*100/data[1])|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</td>
                    <td class="center">{{ data[3] }} ({{ (data[3]*100/data[1])|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</td>
                    <td class="center">{{ data[4] }} ({{ (data[4]*100/data[1])|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</td>
                    {% set sum1 = sum1 + data[1] %}
                    {% set sum2 = sum2 + data[2] %}
                    {% set sum3 = sum3 + data[3] %}
                    {% set sum4 = sum4 + data[4] %}
                </tr>
            {% endif %}
        {% endfor %}
        {% if no_data %}
            <tr><td colspan="6">{{ 'report.no_agreements'|trans }}</td></tr>
        {% endif %}
        </tbody>
        {% if agreement_data|length > 0 and sum1 > 0 %}
            <tfoot>
            <tr>
                <td class="right" colspan="2"></td>
                <td class="center"><b>{{ sum1 }}</b></td>
                <td class="center"><b>{{ sum2 }} ({{ (sum2*100/sum1)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</b></td>
                <td class="center"><b>{{ sum3 }} ({{ (sum3*100/sum1)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</b></td>
                <td class="center"><b>{{ sum4 }} ({{ (sum4*100/sum1)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</b></td>
            </tr>
            </tfoot>
        {% endif %}
    </table>

    <pagebreak></pagebreak>

    <h1>{{ app_name }} - {{ project.organization }} - {{ project }}</h1>
    <h2>{{ 'title.attendance'|trans }}</h2>
    <h3>{{ 'title.attendance.workday_summary'|trans }}</h3>
    <table class="survey">
        <thead>
        <tr>
            <th width="30%">{{ 'header.student'|trans }}</th>
            <th width="30%">{{ 'header.workcenter'|trans }}</th>
            <th width="10%">{{ 'header.total_workdays'|trans }}</th>
            <th width="10%">{{ 'header.no_absence'|trans }}</th>
            <th width="10%">{{ 'header.unjustified_absence'|trans }}</th>
            <th width="10%">{{ 'header.justified_absence'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% set sum5 = 0 %}
        {% set sum6 = 0 %}
        {% set sum7 = 0 %}
        {% set sum8 = 0 %}
        {% set no_data = 1 %}
        {% for data in agreement_data %}
            {% if data[5] %}
                {% set no_data = 0 %}
                <tr>
                    <td>{{ data[0].studentEnrollment }}</td>
                    <td>{{ data[0].workcenter }}</td>
                    <td class="center">{{ data[5] }}</td>
                    <td class="center">{{ data[6] }} ({{ (data[6]*100/data[5])|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</td>
                    <td class="center">{{ data[7] }} ({{ (data[7]*100/data[5])|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</td>
                    <td class="center">{{ data[8] }} ({{ (data[8]*100/data[5])|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</td>
                    {% set sum5 = sum5 + data[5] %}
                    {% set sum6 = sum6 + data[6] %}
                    {% set sum7 = sum7 + data[7] %}
                    {% set sum8 = sum8 + data[8] %}
                </tr>
            {% endif %}
        {% endfor %}
        {% if no_data %}
            <tr><td colspan="6">{{ 'report.no_agreements'|trans }}</td></tr>
        {% endif %}
        </tbody>
        {% if agreement_data|length > 0 and sum5 %}
            <tfoot>
            <tr>
                <td class="right" colspan="2"></td>
                <td class="center"><b>{{ sum5 }}</b></td>
                <td class="center"><b>{{ sum6 }} ({{ (sum6*100/sum5)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</b></td>
                <td class="center"><b>{{ sum7 }} ({{ (sum7*100/sum5)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</b></td>
                <td class="center"><b>{{ sum8 }} ({{ (sum8*100/sum5)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</b></td>
            </tr>
            </tfoot>
        {% endif %}
    </table>

    {% for data in student_data %}
        {% if data[1]|length > 0 %}
            <pagebreak></pagebreak>

            <h1>{{ app_name }} - {{ project.organization }} - {{ project }}</h1>
            <h2>{{ 'title.attendance'|trans }}</h2>
            <table class="data">
                <tr>
                    <td class="info">{{ 'report.student'|trans }}</td>
                    <td>{{ data[0] }}</td>
                </tr>
            </table>

            <table class="survey">
                <thead>
                <tr>
                    <th width="15%">{{ 'header.date'|trans }}</th>
                    <th width="50%">{{ 'header.workcenter'|trans }}</th>
                    <th width="10%">{{ 'header.hours'|trans }}</th>
                    <th width="25%">{{ 'header.absence'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% set total = 0 %}
                {% set sum0 = 0 %}
                {% set sum1 = 0 %}
                {% set sum2 = 0 %}
                {% for work_day in data[1] %}
                    {% set total = total + 1 %}
                    <tr{% if work_day.absence > 0 %} class="mark"{% endif %}>
                        <td class="center">{{ work_day.date|date('format.date'|trans({}, 'general')) }}</td>
                        <td>{{ work_day.agreement.workcenter }}</td>
                        <td class="center">{{ work_day.hours }}</td>
                        <td class="center">
                            {% if work_day.locked %}
                                {{ ['report.no_absence', 'report.unjustified_absence', 'report.justified_absence'][work_day.absence]|trans }}
                                {% if work_day.absence == 0 %}{% set sum0 = sum0 + 1 %}{% endif %}
                                {% if work_day.absence == 1 %}{% set sum1 = sum1 + 1 %}{% endif %}
                                {% if work_day.absence == 2 %}{% set sum2 = sum2 + 1 %}{% endif %}
                            {% else %}
                                {{ 'report.unlocked'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <table class="data">
                <tr>
                    <td class="info">{{ 'report.no_absences'|trans }}</td>
                    <td>{{ sum0 }}/{{ total }} ({{ (100*sum0/total)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</td>
                </tr>
                <tr>
                    <td class="info">{{ 'report.unjustified_absences'|trans }}</td>
                    <td>{{ sum1 }}/{{ total }} ({{ (100*sum1/total)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</td>
                </tr>
                <tr>
                    <td class="info">{{ 'report.justified_absences'|trans }}</td>
                    <td>{{ sum2 }}/{{ total }} ({{ (100*sum2/total)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</td>
                </tr>
            </table>
        {% endif %}
    {% endfor %}
    </body>
</html>
