{% trans_default_domain 'wlt_report' %}
<html>
<head>
    <title>{{ 'title.educational_tutor_survey'|trans }} - {{ project }}</title>
    <style>
        body {
            font-family: sans-serif;
        }

        table {
            font-family: dejavusanscondensed, sans-serif;
            border-style: solid;
            border-width: 1px;
            border-collapse: collapse;
        }

        table td {
            border-style: solid;
            border-width: 1px;
        }

        table th {
            border-style: solid;
            border-width: 1px;
        }

        table.data {
            width: 100%;
        }

        table.data td {
            padding: 0.3em;
        }

        table.data td.info {
            font-family: dejavusanscondensed, sans-serif;
            font-weight: bold;
            text-align: right;
        }

        table.survey {
            margin-top: 1em;
            width: 100%;
        }

        table.survey td {
            padding: 0.3em;
        }

        table.survey th {
            background-color: #cccccc;
            padding: 0.3em;
        }

        table.survey {
            font-size: 80%;
        }

        table.survey tfoot th {
            font-size: 120%;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }
    </style>
</head>
<body>
    <h1>{{ app_name }} - {{ project.organization }} - {{ project }}</h1>
    {% if academic_year %}<h2>{{ 'header.academic_year'|trans }} {{ academic_year }}</h2>{% endif %}
    <h2>{{ 'title.educational_tutor_survey'|trans }}</h2>
    <h3>{{ 'title.educational_tutor_survey.summary'|trans }}</h3>
    <table class="survey">
        <thead>
        <tr>
            <th width="60%">{{ 'header.educational_tutor'|trans }}</th>
            <th width="20%">{{ 'header.academic_year'|trans }}</th>
            <th width="20%">{{ 'header.status'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% set answered = 0 %}
        {% for teacherData in teachers %}
            {% set teacher = teacherData[0] %}
            <tr>
                <td>{{ teacher.person }}</td>
                <td class="center">{{ teacher.academicYear }}</td>
                <td class="center">{{ (teacherData[1] ? 'report.status.answered' : 'report.status.unanswered')|trans }}</td>
            </tr>
            {% set total = total + 1 %}
            {% if teacherData[1] %}{% set answered = answered + 1 %}{% endif %}
        {% else %}
            <tr colspan="3">{{ 'report.no_surveys'|trans }}</tr>
        {% endfor %}
        </tbody>
        {% if total %}
            <tfoot>
                <tr>
                    <td class="right" colspan="4"><b>{{ 'report.answered_surveys'|trans }} {{ answered }}/{{ total }} ({{ (answered*100/total)|number_format(2, 'format.decimal_separator'|trans({}, 'general')) }}%)</b></td>
                </tr>
            </tfoot>
        {% endif %}
    </table>

    {% include 'wlt/report/survey_stats_partial.html.twig' %}

    {% for teacher_data in teachers %}
        {% if teacher_data[1] %}
            <pagebreak></pagebreak>
            {% set teacher = teacher_data[0] %}
            <h1>{{ app_name }} - {{ project.organization }}</h1>
            <h2>{{ 'title.educational_tutor_survey'|trans }}</h2>
            <table class="data">
                <tr>
                    <td class="info">{{ 'report.academic_year'|trans }}</td>
                    <td>{{ teacher.academicYear }}</td>
                </tr>
                <tr>
                    <td class="info">{{ 'report.educational_tutor'|trans }}</td>
                    <td>{{ teacher.person }}</td>
                </tr>
                <tr>
                    <td class="info">{{ 'report.answered_on'|trans }}</td>
                    <td>{{ teacher_data[1] ? teacher_data[1].answeredSurvey.timestamp|date('format.datetime'|trans({}, 'general')) : 'report.no_survey'|trans }}</td>
                </tr>
            </table>

            {% set answered_survey = teacher_data[1].answeredSurvey %}
            {% include 'wlt/report/anwsered_survey_responses_partial.html.twig' %}
        {% endif %}
    {% endfor %}
</body>
</html>
